Repository jluhrs/navigate-server: changes, and which Mergify rules are due for each by the changed paths.
All: Label epics PRs, Label model PRs, Label navigate-server PRs, Label schema-util PRs, Label server PRs, Label stateengine PRs

.mergify.yml:

# This file was automatically generated by sbt-typelevel-mergify using the
# mergifyGenerate task. You should add and commit this file to
# your git repository. It goes without saying that you shouldn't edit
# this file by hand! Instead, if you wish to make changes, you should
# change your sbt build configuration to revise the mergify configuration
# to meet your needs, then regenerate this file.

pull_request_rules:
- name: merge scala-steward's PRs
  conditions:
  - author=lucuma-steward[bot]
  - or:
    - body~=labels:.*early-semver-patch
    - body~=labels:.*early-semver-minor
    - 'title=flake.lock: Update'
  - status-success=Build and Test (ubuntu-latest, 3.3.1, temurin@17, rootJS)
  - status-success=Build and Test (ubuntu-latest, 3.3.1, temurin@17, rootJVM)
  actions:
    merge: {}
- name: Label epics PRs
  conditions:
  - files~=^modules/epics/
  actions:
    label:
      add:
      - epics
      remove: []
- name: Label model PRs
  conditions:
  - files~=^modules/model/
  actions:
    label:
      add:
      - model
      remove: []
- name: Label navigate-server PRs
  conditions:
  - files~=^app/navigate-server/
  actions:
    label:
      add:
      - navigate-server
      remove: []
- name: Label schema-util PRs
  conditions:
  - files~=^modules/schema-util/
  actions:
    label:
      add:
      - schema-util
      remove: []
- name: Label server PRs
  conditions:
  - files~=^modules/
  actions:
    label:
      add:
      - server
      remove: []
- name: Label stateengine PRs
  conditions:
  - files~=^modules/stateengine/
  actions:
    label:
      add:
      - stateengine
      remove: []

Fixed AO to AC lightpath.
  modules/server/src/main/scala/navigate/server/tcs/ScienceFoldPositionCodex.scala
  modules/server/src/main/scala/navigate/server/tcs/TcsBaseControllerEpics.scala
  modules/server/src/test/scala/navigate/server/tcs/TcsBaseControllerEpicsSuite.scala
Due: Label server PRs

SC-4386 Fixed M2 tip/tilt guide configuration.
  modules/server/src/main/scala/navigate/server/epicsdata/NodState.scala
  modules/server/src/main/scala/navigate/server/tcs/M2BeamConfig.scala
  modules/server/src/main/scala/navigate/server/tcs/TcsBaseControllerEpics.scala
  modules/server/src/main/scala/navigate/server/tcs/TcsChannels.scala
  modules/server/src/main/scala/navigate/server/tcs/TcsEpicsSystem.scala
  modules/server/src/test/scala/navigate/server/tcs/TcsBaseControllerEpicsSuite.scala
  modules/server/src/test/scala/navigate/server/tcs/TestTcsEpicsSystem.scala
Due: Label server PRs

SC-4386 Removed commented lines.
  modules/server/src/test/scala/navigate/server/tcs/TcsBaseControllerEpicsSuite.scala
Due: Label server PRs

SC-4496 Set light path on slew.
  modules/server/src/main/scala/navigate/server/tcs/TcsBaseControllerEpics.scala
Due: Label server PRs

Updated to scala 3.6.2, lucuma-schemas to 0.113.0.
  .github/workflows/ci.yml
  build.sbt
  modules/server/src/main/scala/navigate/server/NavigateEngine.scala
  modules/server/src/main/scala/navigate/server/tcs/AcquisitionCameraEpicsSystem.scala
  modules/server/src/main/scala/navigate/server/tcs/OiwfsEpicsSystem.scala
  modules/server/src/main/scala/navigate/server/tcs/TcsBaseControllerEpics.scala
  modules/server/src/main/scala/navigate/server/tcs/WfsEpicsSystem.scala
  modules/server/src/test/scala/navigate/server/tcs/TestAcquisitionCameraEpicsSystem.scala
  modules/server/src/test/scala/navigate/server/tcs/TestAgsEpicsSystem.scala
  modules/server/src/test/scala/navigate/server/tcs/TestCrcsEpicsSystem.scala
  modules/server/src/test/scala/navigate/server/tcs/TestMcsEpicsSystem.scala
  modules/server/src/test/scala/navigate/server/tcs/TestOiwfsEpicsSystem.scala
  modules/server/src/test/scala/navigate/server/tcs/TestScsEpicsSystem.scala
  modules/server/src/test/scala/navigate/server/tcs/TestWfsEpicsSystem.scala
  project/Settings.scala
Due: Label server PRs

Updated navigate-ui to 0.4.4.
  project/Settings.scala
Due: none

Fixed GuideProbe matches.
  modules/server/src/main/scala/navigate/server/tcs/TcsEpicsSystem.scala
Due: Label server PRs

SC-4185 Added query to get instrument ports.
  modules/server/src/main/scala/navigate/server/NavigateEngine.scala
  modules/web/server/src/main/resources/NewTCC.graphql
  modules/web/server/src/main/scala/navigate/web/server/http4s/NavigateMappings.scala
  modules/web/server/src/test/scala/navigate/web/server/http4s/NavigateMappingsSuite.scala
Due: Label server PRs

SC-4685 Changed the decoding logic for WFS centroid status.
  modules/server/src/main/scala/navigate/server/tcs/WfsEpicsSystem.scala
  modules/server/src/test/scala/navigate/server/tcs/TcsBaseControllerEpicsSuite.scala
Due: Label server PRs

Update navigate-ui to 0.5.0
  project/Settings.scala
Due: none

Update navigate-ui to 0.5.1
  project/Settings.scala
Due: none

SC-4683 Fixed issue with coordinates conversion to string.
  modules/server/src/main/scala/navigate/server/tcs/TcsBaseControllerEpics.scala
  modules/server/src/main/scala/navigate/server/tcs/TcsEpicsSystem.scala
  modules/server/src/test/scala/navigate/server/tcs/TcsBaseControllerEpicsSuite.scala
Due: Label server PRs

SC-4689 Server entry point to query software version.
  modules/web/server/src/main/resources/NewTCC.graphql
  modules/web/server/src/main/scala/navigate/web/server/http4s/NavigateMappings.scala
  modules/web/server/src/test/scala/navigate/web/server/http4s/NavigateMappingsSuite.scala
Due: Label server PRs

Change Cache-Control header for static assets
  modules/web/server/src/main/scala/navigate/web/server/common/StaticRoutes.scala
Due: Label server PRs

Update navigate-ui to 0.5.4
  project/Settings.scala
Due: none

Keep last 30 log messages buffered to send to logMessage subscription start
  modules/web/server/src/main/scala/navigate/web/server/http4s/GraphQlRoutes.scala
  modules/web/server/src/main/scala/navigate/web/server/http4s/NavigateMappings.scala
  modules/web/server/src/main/scala/navigate/web/server/http4s/WebServerLauncher.scala
  modules/web/server/src/test/scala/navigate/web/server/http4s/NavigateMappingsSuite.scala
Due: Label server PRs

use takeRight
  modules/web/server/src/main/scala/navigate/web/server/http4s/WebServerLauncher.scala
Due: Label server PRs

Updated scala3 and cats-effect.
  .github/workflows/ci.yml
  build.sbt
  modules/schema-util/src/main/scala/edu/gemini/schema/util/SourceResolver.scala
  modules/server/src/main/scala/navigate/server/NavigateEngine.scala
  modules/server/src/main/scala/navigate/server/tcs/AcquisitionCameraEpicsSystem.scala
  modules/server/src/main/scala/navigate/server/tcs/AgsEpicsSystem.scala
  modules/web/server/src/main/scala/navigate/web/server/http4s/NavigateMappings.scala
  modules/web/server/src/test/scala/navigate/web/server/http4s/NavigateMappingsSuite.scala
  project/Settings.scala
Due: Label schema-util PRs, Label server PRs

SC-3288 Implemented application of Acquisition adjustment (GACQ).
  modules/epics/src/main/scala/navigate/epics/EpicsSystem.scala
  modules/epics/src/main/scala/navigate/epics/VerifiedEpics.scala
  modules/model/src/main/scala/navigate/model/NavigateCommand.scala
  modules/server/src/main/scala/navigate/server/NavigateEngine.scala
  modules/server/src/main/scala/navigate/server/Systems.scala
  modules/server/src/main/scala/navigate/server/acm/GeminiApplyCommand.scala
  modules/server/src/main/scala/navigate/server/acm/ParameterList.scala
  modules/server/src/main/scala/navigate/server/tcs/AcquisitionCameraEpicsSystem.scala
  modules/server/src/main/scala/navigate/server/tcs/AgsEpicsSystem.scala
  modules/server/src/main/scala/navigate/server/tcs/CrcsEpicsSystem.scala
  modules/server/src/main/scala/navigate/server/tcs/McsEpicsSystem.scala
  modules/server/src/main/scala/navigate/server/tcs/OiwfsEpicsSystem.scala
  modules/server/src/main/scala/navigate/server/tcs/ReferenceFrame.scala
  modules/server/src/main/scala/navigate/server/tcs/ScsEpicsSystem.scala
  modules/server/src/main/scala/navigate/server/tcs/TcsBaseController.scala
  modules/server/src/main/scala/navigate/server/tcs/TcsBaseControllerEpics.scala
  modules/server/src/main/scala/navigate/server/tcs/TcsBaseControllerSim.scala
  modules/server/src/main/scala/navigate/server/tcs/TcsChannels.scala
  modules/server/src/main/scala/navigate/server/tcs/TcsEpicsSystem.scala
  modules/server/src/main/scala/navigate/server/tcs/TcsNorthControllerEpics.scala
  modules/server/src/main/scala/navigate/server/tcs/TcsSouthControllerEpics.scala
  modules/server/src/main/scala/navigate/server/tcs/VirtualTelescope.scala
  modules/server/src/main/scala/navigate/server/tcs/WfsEpicsSystem.scala
  modules/server/src/test/scala/navigate/server/tcs/TcsBaseControllerEpicsSuite.scala
  modules/server/src/test/scala/navigate/server/tcs/TestAcquisitionCameraEpicsSystem.scala
  modules/server/src/test/scala/navigate/server/tcs/TestAgsEpicsSystem.scala
  modules/server/src/test/scala/navigate/server/tcs/TestCrcsEpicsSystem.scala
  modules/server/src/test/scala/navigate/server/tcs/TestMcsEpicsSystem.scala
  modules/server/src/test/scala/navigate/server/tcs/TestOiwfsEpicsSystem.scala
  modules/server/src/test/scala/navigate/server/tcs/TestScsEpicsSystem.scala
  modules/server/src/test/scala/navigate/server/tcs/TestTcsEpicsSystem.scala
  modules/server/src/test/scala/navigate/server/tcs/TestWfsEpicsSystem.scala
  modules/web/server/src/main/scala/navigate/web/server/common/StaticRoutes.scala
  modules/web/server/src/main/scala/navigate/web/server/http4s/ClientsSetDb.scala
  modules/web/server/src/main/scala/navigate/web/server/http4s/ProxyBuilder.scala
  modules/web/server/src/main/scala/navigate/web/server/http4s/WebServerLauncher.scala
  modules/web/server/src/test/scala/navigate/web/server/http4s/NavigateMappingsSuite.scala
Due: Label epics PRs, Label model PRs, Label server PRs

SC-3288 Added unit test for acquisition offset.
  modules/epics/src/main/scala/navigate/epics/TestChannel.scala
  modules/model/src/main/scala/navigate/model/NavigateCommand.scala
  modules/server/src/main/scala/navigate/server/NavigateEngine.scala
  modules/server/src/main/scala/navigate/server/tcs/ReferenceFrame.scala
  modules/server/src/main/scala/navigate/server/tcs/TcsBaseController.scala
  modules/server/src/main/scala/navigate/server/tcs/TcsBaseControllerEpics.scala
  modules/server/src/main/scala/navigate/server/tcs/TcsBaseControllerSim.scala
  modules/server/src/main/scala/navigate/server/tcs/TcsChannels.scala
  modules/server/src/main/scala/navigate/server/tcs/TcsEpicsSystem.scala
  modules/server/src/main/scala/navigate/server/tcs/VirtualTelescope.scala
  modules/server/src/test/scala/navigate/server/tcs/TcsBaseControllerEpicsSuite.scala
  modules/server/src/test/scala/navigate/server/tcs/TestAcquisitionCameraEpicsSystem.scala
  modules/server/src/test/scala/navigate/server/tcs/TestAgsEpicsSystem.scala
  modules/server/src/test/scala/navigate/server/tcs/TestCrcsEpicsSystem.scala
  modules/server/src/test/scala/navigate/server/tcs/TestMcsEpicsSystem.scala
  modules/server/src/test/scala/navigate/server/tcs/TestOiwfsEpicsSystem.scala
  modules/server/src/test/scala/navigate/server/tcs/TestScsEpicsSystem.scala
  modules/server/src/test/scala/navigate/server/tcs/TestTcsEpicsSystem.scala
  modules/server/src/test/scala/navigate/server/tcs/TestWfsEpicsSystem.scala
  modules/web/server/src/test/scala/navigate/web/server/http4s/NavigateMappingsSuite.scala
  project/plugins.sbt
Due: Label epics PRs, Label model PRs, Label server PRs

Remove legacy instrument references and add check for schema changes
  .github/workflows/ci.yml
  build.sbt
  modules/server/src/main/scala/navigate/server/NavigateEngine.scala
  modules/server/src/main/scala/navigate/server/tcs/TcsBaseControllerEpics.scala
  modules/server/src/main/scala/navigate/server/tcs/package.scala
  modules/web/server/src/main/resources/NewTCC.graphql
  project/Settings.scala
Due: Label server PRs

Pin graphql-inspector action
  .github/workflows/ci.yml
  build.sbt
Due: none

Remove schema inspector
  .github/workflows/ci.yml
  build.sbt
Due: none

Refactor topic management to another class
  modules/web/server/src/main/scala/navigate/web/server/http4s/TopicManager.scala
  modules/web/server/src/main/scala/navigate/web/server/http4s/WebServerLauncher.scala
Due: Label server PRs

More refactorings
  modules/web/server/src/main/scala/navigate/web/server/http4s/ClientsSetDb.scala
  modules/web/server/src/main/scala/navigate/web/server/http4s/TopicManager.scala
  modules/web/server/src/main/scala/navigate/web/server/http4s/WebServerLauncher.scala
Due: Label server PRs

Add graphql language server
  .graphqlrc.json
  flake.nix
Due: none

gacq endpoint
  modules/model/src/main/scala/navigate/model/AcquisitionAdjustment.scala
  modules/web/server/src/main/resources/NewTCC.graphql
  modules/web/server/src/main/scala/navigate/web/server/http4s/NavigateMappings.scala
  modules/web/server/src/test/scala/navigate/web/server/http4s/NavigateMappingsSuite.scala
Due: Label model PRs, Label server PRs

Add endpoint to call the requestAcquistionAdjustment mutation
  build.sbt
  modules/model/src/main/scala/navigate/model/AcquisitionAdjustment.scala
  modules/web/server/src/main/scala/navigate/web/server/http4s/NavigateMappings.scala
  modules/web/server/src/test/scala/navigate/web/server/http4s/NavigateMappingsSuite.scala
Due: Label model PRs, Label server PRs

Add flag to let clients indicate whether to ask user or confirm
  modules/model/src/main/scala/navigate/model/AcquisitionAdjustment.scala
  modules/model/src/main/scala/navigate/model/enums/AcquisitionAdjustmentOption.scala
  modules/web/server/src/main/resources/NewTCC.graphql
  modules/web/server/src/main/scala/navigate/web/server/http4s/NavigateMappings.scala
  modules/web/server/src/test/scala/navigate/web/server/http4s/NavigateMappingsSuite.scala
Due: Label model PRs, Label server PRs

Add subscription to changes to acquisition adjustments
  modules/schema-util/src/test/scala/edu/gemini/schema/util/SchemaStitcherTest.scala
  modules/web/server/src/main/resources/NewTCC.graphql
  modules/web/server/src/main/scala/navigate/web/server/http4s/GraphQlRoutes.scala
  modules/web/server/src/main/scala/navigate/web/server/http4s/NavigateMappings.scala
  modules/web/server/src/main/scala/navigate/web/server/http4s/TopicManager.scala
  modules/web/server/src/main/scala/navigate/web/server/http4s/WebServerLauncher.scala
  modules/web/server/src/main/scala/navigate/web/server/http4s/encoder/package.scala
  modules/web/server/src/test/scala/navigate/web/server/http4s/NavigateMappingsSuite.scala
Due: Label schema-util PRs, Label server PRs

Rename option field
  modules/model/src/main/scala/navigate/model/AcquisitionAdjustment.scala
  modules/web/server/src/main/resources/NewTCC.graphql
  modules/web/server/src/main/scala/navigate/web/server/http4s/NavigateMappings.scala
  modules/web/server/src/main/scala/navigate/web/server/http4s/encoder/package.scala
Due: Label model PRs, Label server PRs

Add test for acq adjustment subscription
  modules/web/server/src/test/scala/navigate/web/server/http4s/NavigateMappingsSuite.scala
Due: Label server PRs

Link the graphql api to the navigate server call for acquisition adjustments
  modules/model/src/main/scala/navigate/model/AcquisitionAdjustment.scala
  modules/model/src/main/scala/navigate/model/enums/AcquisitionAdjustmentCommand.scala
  modules/web/server/src/main/resources/NewTCC.graphql
  modules/web/server/src/main/scala/navigate/web/server/http4s/NavigateMappings.scala
  modules/web/server/src/test/scala/navigate/web/server/http4s/NavigateMappingsSuite.scala
Due: Label model PRs, Label server PRs

Use fold instead of getOrElse
  modules/web/server/src/main/scala/navigate/web/server/http4s/NavigateMappings.scala
Due: Label server PRs

Add script to test acq adjustments via curl
  gacqgraphql.sh
Due: none

Rename the schema
  modules/web/server/src/main/resources/navigate.graphql
  modules/web/server/src/main/scala/navigate/web/server/http4s/NavigateMappings.scala
Due: Label server PRs

Reformat
  modules/web/server/src/main/scala/navigate/web/server/http4s/NavigateMappings.scala
Due: Label server PRs

Switch to Http4s Ember server
  modules/model/src/main/scala/navigate/model/config/WebServerConfiguration.scala
  modules/web/server/src/main/scala/navigate/web/server/config/package.scala
  modules/web/server/src/main/scala/navigate/web/server/http4s/WebServerLauncher.scala
  project/Settings.scala
Due: Label model PRs, Label server PRs

Add User Cancels command
  modules/model/src/main/scala/navigate/model/enums/AcquisitionAdjustmentCommand.scala
  modules/web/server/src/main/resources/navigate.graphql
Due: Label model PRs, Label server PRs

Add connection to the odb
  build.sbt
  modules/model/src/main/scala/navigate/model/config/LucumaSSOConfiguration.scala
  modules/model/src/main/scala/navigate/model/config/NavigateConfiguration.scala
  modules/server/src/main/scala/navigate/queries/ObsQueriesGQL.scala
  modules/server/src/main/scala/navigate/server/OdbProxy.scala
  modules/server/src/main/scala/navigate/server/Systems.scala
  modules/web/server/src/main/resources/app.conf
  modules/web/server/src/main/scala/navigate/web/server/config/package.scala
  modules/web/server/src/main/scala/navigate/web/server/http4s/WebServerLauncher.scala
  project/Settings.scala
  project/plugins.sbt
Due: Label model PRs, Label server PRs
