Repository jluhrs/navigate-server: changes, and which Mergify rules are due for each by the changed paths.
All: Label epics PRs, Label model PRs, Label navigate-server PRs, Label schema-util PRs, Label server PRs, Label stateengine PRs

.mergify.yml:

# This file was automatically generated by sbt-typelevel-mergify using the
# mergifyGenerate task. You should add and commit this file to
# your git repository. It goes without saying that you shouldn't edit
# this file by hand! Instead, if you wish to make changes, you should
# change your sbt build configuration to revise the mergify configuration
# to meet your needs, then regenerate this file.

pull_request_rules:
- name: merge scala-steward's PRs
  conditions:
  - author=lucuma-steward[bot]
  - or:
    - body~=labels:.*early-semver-patch
    - body~=labels:.*early-semver-minor
    - 'title=flake.lock: Update'
  - status-success=Build and Test (ubuntu-latest, 3.3.1, temurin@17, rootJS)
  - status-success=Build and Test (ubuntu-latest, 3.3.1, temurin@17, rootJVM)
  actions:
    merge: {}
- name: Label epics PRs
  conditions:
  - files~=^modules/epics/
  actions:
    label:
      add:
      - epics
      remove: []
- name: Label model PRs
  conditions:
  - files~=^modules/model/
  actions:
    label:
      add:
      - model
      remove: []
- name: Label navigate-server PRs
  conditions:
  - files~=^app/navigate-server/
  actions:
    label:
      add:
      - navigate-server
      remove: []
- name: Label schema-util PRs
  conditions:
  - files~=^modules/schema-util/
  actions:
    label:
      add:
      - schema-util
      remove: []
- name: Label server PRs
  conditions:
  - files~=^modules/
  actions:
    label:
      add:
      - server
      remove: []
- name: Label stateengine PRs
  conditions:
  - files~=^modules/stateengine/
  actions:
    label:
      add:
      - stateengine
      remove: []

Add a graphql query and update libraries
  .scalafix.conf
  build.sbt
  modules/server/src/clue/scala/navigate/queries/ObsQueriesGQL.scala
  modules/server/src/main/scala/navigate/server/OdbProxy.scala
  modules/server/src/main/scala/navigate/server/tcs/TcsBaseControllerEpics.scala
  modules/web/server/src/main/scala/navigate/web/server/http4s/NavigateMappings.scala
  modules/web/server/src/test/scala/navigate/web/server/http4s/NavigateMappingsSuite.scala
  project/Settings.scala
Due: Label server PRs

Add call to addSlewEvent
  modules/server/src/main/scala/navigate/server/OdbProxy.scala
  modules/web/server/src/main/scala/navigate/web/server/http4s/WebServerLauncher.scala
Due: Label server PRs

Revert "Add call to addSlewEvent"
  modules/server/src/main/scala/navigate/server/OdbProxy.scala
  modules/web/server/src/main/scala/navigate/web/server/http4s/WebServerLauncher.scala
Due: Label server PRs

Revert "Add a graphql query and update libraries"
  .scalafix.conf
  build.sbt
  modules/server/src/main/scala/navigate/queries/ObsQueriesGQL.scala
  modules/server/src/main/scala/navigate/server/OdbProxy.scala
  modules/server/src/main/scala/navigate/server/tcs/TcsBaseControllerEpics.scala
  modules/web/server/src/main/scala/navigate/web/server/http4s/NavigateMappings.scala
  modules/web/server/src/test/scala/navigate/web/server/http4s/NavigateMappingsSuite.scala
  project/Settings.scala
Due: Label server PRs

Revert "Add connection to the odb"
  build.sbt
  modules/model/src/main/scala/navigate/model/config/LucumaSSOConfiguration.scala
  modules/model/src/main/scala/navigate/model/config/NavigateConfiguration.scala
  modules/server/src/main/scala/navigate/queries/ObsQueriesGQL.scala
  modules/server/src/main/scala/navigate/server/OdbProxy.scala
  modules/server/src/main/scala/navigate/server/Systems.scala
  modules/web/server/src/main/resources/app.conf
  modules/web/server/src/main/scala/navigate/web/server/config/package.scala
  modules/web/server/src/main/scala/navigate/web/server/http4s/WebServerLauncher.scala
  project/Settings.scala
  project/plugins.sbt
Due: Label model PRs, Label server PRs

Add connection to the odb
  build.sbt
  modules/model/src/main/scala/navigate/model/config/LucumaSSOConfiguration.scala
  modules/model/src/main/scala/navigate/model/config/NavigateConfiguration.scala
  modules/server/src/main/scala/navigate/queries/ObsQueriesGQL.scala
  modules/server/src/main/scala/navigate/server/OdbProxy.scala
  modules/server/src/main/scala/navigate/server/Systems.scala
  modules/web/server/src/main/resources/app.conf
  modules/web/server/src/main/scala/navigate/web/server/config/package.scala
  modules/web/server/src/main/scala/navigate/web/server/http4s/WebServerLauncher.scala
  project/Settings.scala
  project/plugins.sbt
Due: Label model PRs, Label server PRs

Update workflow
  .mergify.yml
Due: none

Conf for deployment
  deploy/src/main/resources/conf/app.conf
  modules/web/server/src/main/resources/app.conf
Due: Label server PRs

Add an obsId parameter for slew, and add a slew event if passed
  modules/server/src/main/scala/navigate/server/NavigateEngine.scala
  modules/web/server/src/main/resources/app.conf
  modules/web/server/src/main/resources/navigate.graphql
  modules/web/server/src/main/scala/navigate/web/server/http4s/NavigateMappings.scala
  modules/web/server/src/test/scala/navigate/web/server/http4s/NavigateMappingsSuite.scala
Due: Label server PRs

Print more info on startup
  modules/web/server/src/main/scala/navigate/web/server/http4s/WebServerLauncher.scala
Due: Label server PRs

Suppor overriding the odb and observe urls with env variables
  deploy/src/main/resources/conf/app.conf
  modules/web/server/src/main/resources/app.conf
Due: Label server PRs

Read frontend version and print in startup
  modules/schema-util/src/main/scala/edu/gemini/schema/util/SourceResolver.scala
  modules/web/server/src/main/scala/navigate/web/server/http4s/WebServerLauncher.scala
  project/Settings.scala
Due: Label schema-util PRs, Label server PRs

Log CommandFailure on error levels
  modules/server/src/main/scala/navigate/server/NavigateEngine.scala
Due: Label server PRs

Use stream functions and simpler cats methods
  modules/epics/src/main/scala/navigate/epics/TestChannel.scala
  modules/schema-util/src/main/scala/edu/gemini/schema/util/SchemaStitcher.scala
  modules/server/src/main/scala/navigate/server/NavigateEngine.scala
  modules/server/src/main/scala/navigate/server/acm/GeminiApplyCommand.scala
  modules/server/src/main/scala/navigate/server/tcs/TcsEpicsSystem.scala
  modules/web/server/src/test/scala/navigate/web/server/http4s/NavigateMappingsSuite.scala
Due: Label epics PRs, Label schema-util PRs, Label server PRs

SC-5265 Fixed minor bug in gacq application.
  modules/server/src/main/scala/navigate/server/NavigateEngine.scala
  modules/server/src/main/scala/navigate/server/tcs/TcsBaseControllerEpics.scala
  modules/server/src/test/scala/navigate/server/NavigateEngineSpec.scala
  modules/server/src/test/scala/navigate/server/tcs/TcsBaseControllerEpicsSuite.scala
  modules/web/server/src/test/scala/navigate/web/server/http4s/NavigateMappingsSuite.scala
Due: Label server PRs

add docker image user and platform
  build.sbt
Due: none

SC-5265 Simplified pause/resume guide when applying GACQ
  modules/server/src/main/scala/navigate/server/tcs/TcsBaseControllerEpics.scala
  modules/web/server/src/main/scala/navigate/web/server/http4s/NavigateMappings.scala
Due: Label server PRs

SC-5265 Log debug information when applying GACQ.
  modules/server/src/main/scala/navigate/server/tcs/TcsBaseControllerEpics.scala
  modules/server/src/main/scala/navigate/server/tcs/TcsNorthControllerEpics.scala
  modules/server/src/main/scala/navigate/server/tcs/TcsSouthControllerEpics.scala
  modules/server/src/test/scala/navigate/server/NavigateEngineSpec.scala
  modules/server/src/test/scala/navigate/server/tcs/TcsBaseControllerEpicsSuite.scala
Due: Label server PRs

Log behavior changed for production server
  modules/web/server/src/main/resources/logback.xml
Due: Label server PRs

SC-5265 Increased GACQ offset timeout.
  modules/schema-util/src/main/scala/edu/gemini/schema/util/SchemaStitcher.scala
  modules/schema-util/src/main/scala/edu/gemini/schema/util/SourceResolver.scala
  modules/schema-util/src/main/scala/edu/gemini/schema/util/package.scala
  modules/schema-util/src/test/scala/edu/gemini/schema/util/SchemaStitcherTest.scala
  modules/server/src/clue/scala/navigate/queries/ObsQueriesGQL.scala
  modules/server/src/main/scala/navigate/server/tcs/TcsBaseControllerEpics.scala
Due: Label schema-util PRs, Label server PRs

SC-4830 Added target azimuth/elevation to API
  modules/web/server/src/main/resources/navigate.graphql
  modules/web/server/src/main/scala/navigate/web/server/http4s/NavigateMappings.scala
  modules/web/server/src/test/scala/navigate/web/server/http4s/NavigateMappingsSuite.scala
Due: Label server PRs

consolidate configurations
  build.sbt
  deploy/navigate-server/src/main/resources/conf/local/site.conf
  deploy/navigate-server/src/main/resources/conf/staging-gs/site.conf
  deploy/src/main/resources/conf/app.conf
  modules/web/server/src/main/resources/base.conf
  modules/web/server/src/main/scala/navigate/web/server/http4s/WebServerLauncher.scala
Due: Label server PRs

rearrange files
  build.sbt
  deploy/conf/local/cacerts.jks.dev
  deploy/conf/local/site.conf
  deploy/conf/production-gn/site.conf
  deploy/conf/production-gs/site.conf
  deploy/conf/staging-gn/site.conf
  deploy/conf/staging-gs/site.conf
  deploy/navigate-server/src/main/resources/conf/staging-gs/site.conf
Due: none

comments
  deploy/conf/production-gn/site.conf
  deploy/conf/production-gs/site.conf
  deploy/conf/staging-gn/site.conf
  deploy/conf/staging-gs/site.conf
Due: none

fix tops overrides
  deploy/conf/production-gn/site.conf
  deploy/conf/production-gs/site.conf
  deploy/conf/staging-gn/site.conf
  deploy/conf/staging-gs/site.conf
Due: none

Changed env used to check if production environment
  modules/web/server/src/main/resources/logback.xml
Due: Label server PRs

Updated EPICS address list for GN.
  deploy/conf/staging-gn/site.conf
Due: none

Added needed default port
  deploy/conf/staging-gn/site.conf
  deploy/conf/staging-gs/site.conf
Due: none

Reverting port and host override, set in base conf
  deploy/conf/staging-gn/site.conf
  deploy/conf/staging-gs/site.conf
  modules/web/server/src/main/resources/base.conf
Due: Label server PRs

SC-3259 Partial implementattion of adjustment commands.
  modules/server/src/main/scala/navigate/server/tcs/TcsBaseControllerEpics.scala
  modules/server/src/main/scala/navigate/server/tcs/TcsChannels.scala
  modules/server/src/main/scala/navigate/server/tcs/TcsEpicsSystem.scala
  modules/server/src/test/scala/navigate/server/tcs/TcsBaseControllerEpicsSuite.scala
  modules/server/src/test/scala/navigate/server/tcs/TestTcsEpicsSystem.scala
Due: Label server PRs

remove dependency on sonatype navigate-ui
  project/Settings.scala
Due: none

adapt to new frontend deployment
  build.sbt
  modules/web/server/src/main/resources/base.conf
  modules/web/server/src/main/scala/navigate/web/server/common/StaticRoutes.scala
  modules/web/server/src/main/scala/navigate/web/server/http4s/WebServerLauncher.scala
Due: Label server PRs

SC-5063 Implemented OIWFS sky.
  modules/model/src/main/scala/navigate/model/NavigateCommand.scala
  modules/server/src/main/scala/navigate/server/NavigateEngine.scala
  modules/server/src/main/scala/navigate/server/tcs/TcsBaseController.scala
  modules/server/src/main/scala/navigate/server/tcs/TcsBaseControllerEpics.scala
  modules/server/src/main/scala/navigate/server/tcs/TcsBaseControllerSim.scala
  modules/server/src/main/scala/navigate/server/tcs/TcsChannels.scala
  modules/server/src/main/scala/navigate/server/tcs/TcsEpicsSystem.scala
  modules/server/src/main/scala/navigate/server/tcs/TrackingConfig.scala
  modules/server/src/test/scala/navigate/server/tcs/TcsBaseControllerEpicsSuite.scala
  modules/server/src/test/scala/navigate/server/tcs/TestTcsEpicsSystem.scala
  modules/web/server/src/test/scala/navigate/web/server/http4s/NavigateMappingsSuite.scala
Due: Label model PRs, Label server PRs

SC-5063 Added API mutation to take WFS skies.
  modules/server/src/main/scala/navigate/server/tcs/TcsBaseControllerEpics.scala
  modules/web/server/src/main/resources/navigate.graphql
  modules/web/server/src/main/scala/navigate/web/server/http4s/NavigateMappings.scala
  modules/web/server/src/test/scala/navigate/web/server/http4s/NavigateMappingsSuite.scala
Due: Label server PRs

SC-5063 Addressed PR comments.
  modules/server/src/main/scala/navigate/server/tcs/TcsBaseControllerEpics.scala
  modules/server/src/main/scala/navigate/server/tcs/TcsEpicsSystem.scala
Due: Label server PRs

Library updates.
  modules/web/server/src/main/scala/navigate/web/server/http4s/NavigateMappings.scala
  project/Settings.scala
Due: Label server PRs

SC-4685 Fixed centroid value decoding.
  modules/server/src/main/scala/navigate/server/tcs/WfsEpicsSystem.scala
  modules/server/src/test/scala/navigate/server/tcs/TcsBaseControllerEpicsSuite.scala
Due: Label server PRs

SC-4215 Avoid reconfiguring AO when in the right position.
  modules/server/src/main/scala/navigate/server/epicsdata/AgMechPosition.scala
  modules/server/src/main/scala/navigate/server/tcs/AgsChannels.scala
  modules/server/src/main/scala/navigate/server/tcs/AgsEpicsSystem.scala
  modules/server/src/main/scala/navigate/server/tcs/ScienceFold.scala
  modules/server/src/main/scala/navigate/server/tcs/ScienceFoldPositionCodex.scala
  modules/server/src/main/scala/navigate/server/tcs/TcsBaseControllerEpics.scala
  modules/server/src/main/scala/navigate/server/tcs/TcsChannels.scala
  modules/server/src/main/scala/navigate/server/tcs/TcsEpicsSystem.scala
  modules/server/src/test/scala/navigate/server/tcs/TcsBaseControllerEpicsSuite.scala
  modules/server/src/test/scala/navigate/server/tcs/TestAgsEpicsSystem.scala
  modules/server/src/test/scala/navigate/server/tcs/TestTcsEpicsSystem.scala
Due: Label server PRs
