Repository jluhrs/navigate-server: changes, and which Mergify rules are due for each by the changed paths.
All: Label epics PRs, Label model PRs, Label navigate-server PRs, Label schema-util PRs, Label server PRs, Label stateengine PRs

Label epics PRs:
  label:
    add:
    - epics
    remove: []

Label model PRs:
  label:
    add:
    - model
    remove: []

Label navigate-server PRs:
  label:
    add:
    - navigate-server
    remove: []

Label schema-util PRs:
  label:
    add:
    - schema-util
    remove: []

Label server PRs:
  label:
    add:
    - server
    remove: []

Label stateengine PRs:
  label:
    add:
    - stateengine
    remove: []

Partial implementation of target swap.
  modules/model/src/main/scala/navigate/model/NavigateCommand.scala
  modules/server/src/main/scala/navigate/server/NavigateEngine.scala
  modules/server/src/main/scala/navigate/server/tcs/TcsBaseController.scala
  modules/server/src/main/scala/navigate/server/tcs/TcsBaseControllerEpics.scala
  modules/server/src/main/scala/navigate/server/tcs/TcsBaseControllerSim.scala
  modules/web/server/src/main/resources/NewTCC.graphql
  modules/web/server/src/main/scala/navigate/web/server/http4s/NavigateMappings.scala
  modules/web/server/src/test/scala/navigate/web/server/http4s/NavigateMappingsSuite.scala
Due: Label model PRs, Label server PRs

Implemented swap target.
  modules/model/src/main/scala/navigate/model/enums/AcFilter.scala
  modules/server/src/main/scala/navigate/server/NavigateEngine.scala
  modules/server/src/main/scala/navigate/server/Systems.scala
  modules/server/src/main/scala/navigate/server/tcs/AcquisitionCameraChannels.scala
  modules/server/src/main/scala/navigate/server/tcs/AcquisitionCameraEpicsSystem.scala
  modules/server/src/main/scala/navigate/server/tcs/EpicsSystems.scala
  modules/server/src/main/scala/navigate/server/tcs/Target.scala
  modules/server/src/main/scala/navigate/server/tcs/TcsBaseController.scala
  modules/server/src/main/scala/navigate/server/tcs/TcsBaseControllerEpics.scala
  modules/server/src/main/scala/navigate/server/tcs/TcsBaseControllerSim.scala
  modules/server/src/main/scala/navigate/server/tcs/TrackingConfig.scala
  modules/server/src/main/scala/navigate/server/tcs/package.scala
  modules/server/src/test/scala/navigate/server/tcs/TcsBaseControllerEpicsSuite.scala
  modules/server/src/test/scala/navigate/server/tcs/TestAcquisitionCameraEpicsSystem.scala
  modules/web/server/src/main/resources/NewTCC.graphql
  modules/web/server/src/main/scala/navigate/web/server/http4s/NavigateMappings.scala
  modules/web/server/src/test/scala/navigate/web/server/http4s/NavigateMappingsSuite.scala
Due: Label model PRs, Label server PRs

Added swapTarget to API.
  modules/model/src/main/scala/navigate/model/NavigateState.scala
  modules/server/src/main/scala/navigate/server/NavigateEngine.scala
  modules/stateengine/src/main/scala/navigate/stateengine/StateEngine.scala
  modules/stateengine/src/test/scala/navigate/stateengine/StateEngineSpec.scala
  modules/web/server/src/main/resources/NewTCC.graphql
  modules/web/server/src/main/scala/navigate/web/server/http4s/NavigateMappings.scala
  modules/web/server/src/main/scala/navigate/web/server/http4s/encoder/package.scala
  modules/web/server/src/test/scala/navigate/web/server/http4s/NavigateMappingsSuite.scala
Due: Label model PRs, Label server PRs, Label stateengine PRs

Moved OIWFS selection wait time to a val
  modules/server/src/main/scala/navigate/server/tcs/TcsBaseControllerEpics.scala
Due: Label server PRs

Use navigate-ui package
  .scalafix.conf
  README.md
  build.sbt
  modules/web/server/src/main/scala/navigate/web/server/common/StaticRoutes.scala
  modules/web/server/src/main/scala/navigate/web/server/common/package.scala
  project/Settings.scala
Due: Label server PRs

Updated scala and sbt.
  .github/workflows/ci.yml
  build.sbt
  modules/epics/src/test/scala/navigate/epics/EpicsServiceSpec.scala
  modules/server/src/main/scala/navigate/server/tcs/TcsBaseControllerEpics.scala
  modules/web/server/src/main/scala/navigate/web/server/common/package.scala
  modules/web/server/src/main/scala/navigate/web/server/http4s/GrackleParsers.scala
  modules/web/server/src/main/scala/navigate/web/server/http4s/NavigateMappings.scala
  modules/web/server/src/main/scala/navigate/web/server/http4s/WebServerLauncher.scala
  project/Settings.scala
  project/build.properties
Due: Label epics PRs, Label server PRs

Updated Grackle
  modules/web/server/src/main/scala/navigate/web/server/http4s/NavigateMappings.scala
  modules/web/server/src/main/scala/navigate/web/server/http4s/encoder/package.scala
  modules/web/server/src/test/scala/navigate/web/server/http4s/NavigateMappingsSuite.scala
  project/Settings.scala
Due: Label server PRs

Updated UI version.
  project/Settings.scala
Due: none

Updated UI version.
  build.sbt
  project/Settings.scala
Due: none

Updated navigate-ui to 0.1.5
  project/Settings.scala
Due: none

Implemented AC/HRWFS readout commands.
  modules/model/src/main/scala/navigate/model/enums/AcLens.scala
  modules/model/src/main/scala/navigate/model/enums/AcNdFilter.scala
  modules/model/src/main/scala/navigate/model/enums/AcWindow.scala
  modules/server/src/main/scala/navigate/server/tcs/AcquisitionCameraChannels.scala
  modules/server/src/main/scala/navigate/server/tcs/AcquisitionCameraEpicsSystem.scala
  modules/server/src/main/scala/navigate/server/tcs/TcsBaseController.scala
  modules/server/src/main/scala/navigate/server/tcs/TcsBaseControllerEpics.scala
  modules/server/src/main/scala/navigate/server/tcs/TcsBaseControllerSim.scala
  modules/server/src/test/scala/navigate/server/tcs/TcsBaseControllerEpicsSuite.scala
  modules/server/src/test/scala/navigate/server/tcs/TestAcquisitionCameraEpicsSystem.scala
Due: Label model PRs, Label server PRs

Added entry points to the API for AC readout control.
  modules/model/src/main/scala/navigate/model/NavigateCommand.scala
  modules/server/src/main/scala/navigate/server/NavigateEngine.scala
  modules/web/server/src/main/resources/NewTCC.graphql
  modules/web/server/src/main/scala/navigate/web/server/http4s/NavigateMappings.scala
  modules/web/server/src/test/scala/navigate/web/server/http4s/NavigateMappingsSuite.scala
Due: Label model PRs, Label server PRs

Follow state decoding is now impervious to case variants.
  modules/server/src/main/scala/navigate/server/tcs/AgsEpicsSystem.scala
Due: Label server PRs

Fixed OIWFS gains reset.
  modules/server/src/main/scala/navigate/server/Systems.scala
  modules/server/src/main/scala/navigate/server/tcs/WfsChannels.scala
  modules/server/src/main/scala/navigate/server/tcs/WfsEpicsSystem.scala
Due: Label server PRs

Actually use the gain reset channel name.
  modules/server/src/main/scala/navigate/server/tcs/WfsChannels.scala
Due: Label server PRs

Workaround for sbt problem in github
  .github/workflows/ci.yml
Due: none

Updated navigate-ui to 0.1.7
  project/Settings.scala
Due: none

Implemented specific behavior for OIWFS.
  modules/server/src/main/scala/navigate/server/NavigateEngine.scala
  modules/server/src/main/scala/navigate/server/Systems.scala
  modules/server/src/main/scala/navigate/server/tcs/EpicsSystems.scala
  modules/server/src/main/scala/navigate/server/tcs/OiwfsChannels.scala
  modules/server/src/main/scala/navigate/server/tcs/OiwfsEpicsSystem.scala
  modules/server/src/main/scala/navigate/server/tcs/TcsBaseControllerEpics.scala
  modules/server/src/main/scala/navigate/server/tcs/WfsEpicsSystem.scala
  modules/server/src/test/scala/navigate/server/tcs/TcsBaseControllerEpicsSuite.scala
  modules/server/src/test/scala/navigate/server/tcs/TestOiwfsEpicsSystem.scala
Due: Label server PRs

Fixed background file name for OIWFS.
  modules/server/src/main/scala/navigate/server/tcs/TcsBaseControllerEpics.scala
  modules/server/src/test/scala/navigate/server/tcs/TcsBaseControllerEpicsSuite.scala
Due: Label server PRs

Fixed follow state readout for SCS.
  modules/server/src/main/scala/navigate/server/tcs/ScsEpicsSystem.scala
  modules/server/src/test/scala/navigate/server/tcs/TcsBaseControllerEpicsSuite.scala
Due: Label server PRs

Fix compile
  modules/epics/src/main/scala/navigate/epics/EpicsService.scala
Due: Label epics PRs, Label server PRs

Rollback scalafmt
  .scalafmt.conf
Due: none

Formatting
  modules/server/src/main/scala/navigate/server/tcs/TcsEpicsSystem.scala
Due: Label server PRs

Restored workaround
  .github/workflows/ci.yml
Due: none

Fixed double trigger of OIWFS observe.
  modules/server/src/main/scala/navigate/server/tcs/TcsBaseControllerEpics.scala
Due: Label server PRs

Implemented M1 commands in backend.
  modules/server/src/main/scala/navigate/server/epicsdata/BinaryOnOffCapitalized.scala
  modules/server/src/main/scala/navigate/server/tcs/TcsBaseController.scala
  modules/server/src/main/scala/navigate/server/tcs/TcsBaseControllerEpics.scala
  modules/server/src/main/scala/navigate/server/tcs/TcsBaseControllerSim.scala
  modules/server/src/main/scala/navigate/server/tcs/TcsChannels.scala
  modules/server/src/main/scala/navigate/server/tcs/TcsEpicsSystem.scala
  modules/server/src/main/scala/navigate/server/tcs/package.scala
  modules/server/src/test/scala/navigate/server/tcs/TcsBaseControllerEpicsSuite.scala
  modules/server/src/test/scala/navigate/server/tcs/TestTcsEpicsSystem.scala
Due: Label server PRs

Added M1 commands to GraphQl API.
  modules/model/src/main/scala/navigate/model/NavigateCommand.scala
  modules/server/src/main/scala/navigate/server/NavigateEngine.scala
  modules/web/server/src/main/resources/NewTCC.graphql
  modules/web/server/src/main/scala/navigate/web/server/http4s/NavigateMappings.scala
  modules/web/server/src/test/scala/navigate/web/server/http4s/NavigateMappingsSuite.scala
Due: Label model PRs, Label server PRs

Forgot to implement M1 commands in NavigateEngine
  modules/server/src/main/scala/navigate/server/NavigateEngine.scala
Due: Label server PRs

SC-3948 Only read instrument ports for the existing instruments at each site
  modules/server/src/main/scala/navigate/server/tcs/TcsBaseControllerEpics.scala
  modules/server/src/main/scala/navigate/server/tcs/TcsNorthControllerEpics.scala
  modules/server/src/main/scala/navigate/server/tcs/TcsSouthControllerEpics.scala
  modules/server/src/test/scala/navigate/server/tcs/TcsBaseControllerEpicsSuite.scala
Due: Label server PRs

SC-3819 Disable probe guiding in guide disable.
  modules/server/src/main/scala/navigate/server/tcs/TcsBaseControllerEpics.scala
  modules/server/src/test/scala/navigate/server/tcs/TcsBaseControllerEpicsSuite.scala
Due: Label server PRs

SC-3817 Implemented fix for m2 guide config problem
  modules/server/src/main/scala/navigate/server/acm/Encoder.scala
  modules/server/src/main/scala/navigate/server/tcs/TcsBaseControllerEpics.scala
  modules/server/src/main/scala/navigate/server/tcs/TcsEpicsSystem.scala
Due: Label server PRs

Fixed tests.
  modules/server/src/main/scala/navigate/server/acm/Encoder.scala
  modules/server/src/test/scala/navigate/server/tcs/TcsBaseControllerEpicsSuite.scala
Due: Label server PRs

SC-3284 Light path configuration included in backend API.
  modules/model/src/main/scala/navigate/model/NavigateCommand.scala
  modules/model/src/main/scala/navigate/model/enums/AoFoldPosition.scala
  modules/model/src/main/scala/navigate/model/enums/HrwfsPickupPosition.scala
  modules/model/src/main/scala/navigate/model/enums/LightSource.scala
  modules/server/src/main/scala/navigate/server/NavigateEngine.scala
  modules/server/src/test/scala/navigate/server/tcs/TcsBaseControllerEpicsSuite.scala
  modules/web/server/src/main/resources/NewTCC.graphql
  modules/web/server/src/main/scala/navigate/web/server/http4s/NavigateMappings.scala
  modules/web/server/src/test/scala/navigate/web/server/http4s/NavigateMappingsSuite.scala
Due: Label model PRs, Label server PRs

SC-3285 Added acquisition camera integration status.
  modules/server/src/main/scala/navigate/server/acm/CarState.scala
  modules/server/src/main/scala/navigate/server/acm/GeminiApplyCommand.scala
  modules/server/src/main/scala/navigate/server/tcs/AcquisitionCameraChannels.scala
  modules/server/src/main/scala/navigate/server/tcs/AcquisitionCameraEpicsSystem.scala
  modules/server/src/main/scala/navigate/server/tcs/GuideState.scala
  modules/server/src/main/scala/navigate/server/tcs/TcsBaseControllerEpics.scala
  modules/server/src/main/scala/navigate/server/tcs/TcsNorthControllerSim.scala
  modules/server/src/main/scala/navigate/server/tcs/TcsSouthControllerSim.scala
  modules/server/src/test/scala/navigate/server/tcs/TcsBaseControllerEpicsSuite.scala
  modules/server/src/test/scala/navigate/server/tcs/TestAcquisitionCameraEpicsSystem.scala
  modules/web/server/src/main/resources/NewTCC.graphql
  modules/web/server/src/main/scala/navigate/web/server/http4s/encoder/package.scala
  modules/web/server/src/test/scala/navigate/web/server/http4s/NavigateMappingsSuite.scala
Due: Label server PRs

Update navigate-ui to 0.2.3
  project/Settings.scala
Due: none

Removed import of pureconfig.generic.derivation.default
  modules/web/server/src/main/scala/navigate/web/server/config/package.scala
Due: Label server PRs

Limit lenght of topic subscriptions.
  modules/server/src/main/scala/navigate/server/NavigateEngine.scala
  modules/web/server/src/main/scala/navigate/web/server/http4s/NavigateMappings.scala
Due: Label server PRs

Fixed typo in GNIRS port channel.
  modules/server/src/main/scala/navigate/server/tcs/AgsChannels.scala
Due: Label server PRs

SC-4217 Special function to point telescope to guide target.
  modules/server/src/main/scala/navigate/server/tcs/TcsBaseControllerEpics.scala
Due: Label server PRs

Fix deploy setup steps
  .github/workflows/ci.yml
  build.sbt
Due: none

Path conditions:
  Label epics PRs: any of: ^modules/epics/
  Label model PRs: any of: ^modules/model/
  Label navigate-server PRs: any of: ^app/navigate-server/
  Label schema-util PRs: any of: ^modules/schema-util/
  Label server PRs: any of: ^modules/
  Label stateengine PRs: any of: ^modules/stateengine/
