Repository jluhrs/navigate-server: changes, and which Mergify rules are due for each by the changed paths.
All: Label epics PRs, Label model PRs, Label navigate-server PRs, Label schema-util PRs, Label server PRs, Label stateengine PRs

.mergify.yml:

# This file was automatically generated by sbt-typelevel-mergify using the
# mergifyGenerate task. You should add and commit this file to
# your git repository. It goes without saying that you shouldn't edit
# this file by hand! Instead, if you wish to make changes, you should
# change your sbt build configuration to revise the mergify configuration
# to meet your needs, then regenerate this file.

pull_request_rules:
- name: merge scala-steward's PRs
  conditions:
  - author=lucuma-steward[bot]
  - or:
    - body~=labels:.*early-semver-patch
    - body~=labels:.*early-semver-minor
    - 'title=flake.lock: Update'
  - status-success=Build and Test (ubuntu-latest, 3.3.1, temurin@17, rootJS)
  - status-success=Build and Test (ubuntu-latest, 3.3.1, temurin@17, rootJVM)
  actions:
    merge: {}
- name: Label epics PRs
  conditions:
  - files~=^modules/epics/
  actions:
    label:
      add:
      - epics
      remove: []
- name: Label model PRs
  conditions:
  - files~=^modules/model/
  actions:
    label:
      add:
      - model
      remove: []
- name: Label navigate-server PRs
  conditions:
  - files~=^app/navigate-server/
  actions:
    label:
      add:
      - navigate-server
      remove: []
- name: Label schema-util PRs
  conditions:
  - files~=^modules/schema-util/
  actions:
    label:
      add:
      - schema-util
      remove: []
- name: Label server PRs
  conditions:
  - files~=^modules/
  actions:
    label:
      add:
      - server
      remove: []
- name: Label stateengine PRs
  conditions:
  - files~=^modules/stateengine/
  actions:
    label:
      add:
      - stateengine
      remove: []

server-specific logbacks
  build.sbt
  deploy/conf/local/logback.xml
  deploy/conf/production-gn/logback.xml
  deploy/conf/production-gs/logback.xml
  deploy/conf/staging-gn/logback.xml
  deploy/conf/staging-gs/logback.xml
Due: none

fix comments
  deploy/conf/local/logback.xml
  modules/web/server/src/main/resources/logback.xml
Due: Label server PRs

remove janino dependency
  project/Settings.scala
Due: none

SC-5063 Removed references to non-existent AO tracking channels.
  modules/server/src/main/scala/navigate/server/tcs/TcsBaseControllerEpics.scala
  modules/server/src/main/scala/navigate/server/tcs/TcsChannels.scala
  modules/server/src/main/scala/navigate/server/tcs/TcsEpicsSystem.scala
  modules/server/src/test/scala/navigate/server/tcs/TestTcsEpicsSystem.scala
Due: Label server PRs

SC-5063 Fixed target filter command.
  modules/server/src/main/scala/navigate/server/tcs/TcsEpicsSystem.scala
  modules/server/src/test/scala/navigate/server/tcs/TcsBaseControllerEpicsSuite.scala
Due: Label server PRs

SC-3259 Server GraphQL API for handsets.
  modules/server/src/main/scala/navigate/server/tcs/FocalPlaneOffset.scala
  modules/server/src/main/scala/navigate/server/tcs/HandsetAdjustment.scala
  modules/server/src/main/scala/navigate/server/tcs/TargetOffsets.scala
  modules/web/server/src/main/resources/navigate.graphql
  modules/web/server/src/main/scala/navigate/web/server/http4s/GraphQlRoutes.scala
  modules/web/server/src/main/scala/navigate/web/server/http4s/NavigateMappings.scala
  modules/web/server/src/main/scala/navigate/web/server/http4s/TopicManager.scala
  modules/web/server/src/main/scala/navigate/web/server/http4s/WebServerLauncher.scala
  modules/web/server/src/main/scala/navigate/web/server/http4s/encoder/package.scala
  modules/web/server/src/test/scala/navigate/web/server/http4s/NavigateMappingsSuite.scala
Due: Label server PRs

SC-5063 Fixed reference frame for sky offset.
  modules/server/src/main/scala/navigate/server/tcs/TcsBaseControllerEpics.scala
Due: Label server PRs

Publish schema to npm
  .github/workflows/npm.yml
  build.sbt
Due: none

Fix imports
  build.sbt
Due: none

Temp always publish
  .github/workflows/npm.yml
Due: none

Revert "Temp always publish"
  .github/workflows/npm.yml
Due: none

adjust configurations
  deploy/conf/production-gn/site.conf
  deploy/conf/production-gs/site.conf
  deploy/conf/staging-gn/site.conf
  deploy/conf/staging-gs/site.conf
Due: none

SC-5063 Fixes to OIWFS sky.
  modules/server/src/main/scala/navigate/server/tcs/TcsBaseControllerEpics.scala
  modules/server/src/main/scala/navigate/server/tcs/TcsEpicsSystem.scala
  modules/server/src/test/scala/navigate/server/tcs/TcsBaseControllerEpicsSuite.scala
Due: Label server PRs

fine-tune configurations
  README.md
  deploy/conf/production-gn/site.conf
  deploy/conf/production-gs/site.conf
  deploy/conf/staging-gn/site.conf
  deploy/conf/staging-gs/site.conf
Due: none

SC-5063 fixed sky target file name.
  modules/server/src/main/scala/navigate/server/tcs/TcsBaseControllerEpics.scala
  modules/server/src/test/scala/navigate/server/tcs/TcsBaseControllerEpicsSuite.scala
Due: Label server PRs

SC-3259 Implemented target, origin and pointing offset commands.
  modules/epics/src/main/scala/navigate/epics/package.scala
  modules/model/src/main/scala/navigate/model/FocalPlaneOffset.scala
  modules/model/src/main/scala/navigate/model/HandsetAdjustment.scala
  modules/model/src/main/scala/navigate/model/NavigateCommand.scala
  modules/model/src/main/scala/navigate/model/enums/VirtualTelescope.scala
  modules/server/src/main/scala/navigate/server/NavigateEngine.scala
  modules/server/src/main/scala/navigate/server/tcs/PointingConfigLevel.scala
  modules/server/src/main/scala/navigate/server/tcs/PointingParameter.scala
  modules/server/src/main/scala/navigate/server/tcs/TargetData.scala
  modules/server/src/main/scala/navigate/server/tcs/TargetOffsets.scala
  modules/server/src/main/scala/navigate/server/tcs/TcsBaseController.scala
  modules/server/src/main/scala/navigate/server/tcs/TcsBaseControllerEpics.scala
  modules/server/src/main/scala/navigate/server/tcs/TcsBaseControllerSim.scala
  modules/server/src/main/scala/navigate/server/tcs/TcsChannels.scala
  modules/server/src/main/scala/navigate/server/tcs/TcsEpicsSystem.scala
  modules/server/src/main/scala/navigate/server/tcs/package.scala
  modules/server/src/test/scala/navigate/server/tcs/TcsBaseControllerEpicsSuite.scala
  modules/server/src/test/scala/navigate/server/tcs/TestTcsEpicsSystem.scala
  modules/web/server/src/main/resources/navigate.graphql
  modules/web/server/src/main/scala/navigate/web/server/http4s/GraphQlRoutes.scala
  modules/web/server/src/main/scala/navigate/web/server/http4s/NavigateMappings.scala
  modules/web/server/src/main/scala/navigate/web/server/http4s/TopicManager.scala
  modules/web/server/src/main/scala/navigate/web/server/http4s/encoder/package.scala
  modules/web/server/src/test/scala/navigate/web/server/http4s/NavigateMappingsSuite.scala
Due: Label epics PRs, Label model PRs, Label server PRs

SC-3259 Implemented adjustment absorb and clear commands.
  modules/model/src/main/scala/navigate/model/NavigateCommand.scala
  modules/server/src/main/scala/navigate/server/NavigateEngine.scala
  modules/server/src/main/scala/navigate/server/tcs/OffsetIndexSelection.scala
  modules/server/src/main/scala/navigate/server/tcs/TcsBaseController.scala
  modules/server/src/main/scala/navigate/server/tcs/TcsBaseControllerEpics.scala
  modules/server/src/main/scala/navigate/server/tcs/TcsBaseControllerSim.scala
  modules/server/src/main/scala/navigate/server/tcs/TcsChannels.scala
  modules/server/src/main/scala/navigate/server/tcs/TcsEpicsSystem.scala
  modules/server/src/test/scala/navigate/server/tcs/TcsBaseControllerEpicsSuite.scala
  modules/server/src/test/scala/navigate/server/tcs/TestTcsEpicsSystem.scala
  modules/web/server/src/main/resources/navigate.graphql
  modules/web/server/src/main/scala/navigate/web/server/http4s/NavigateMappings.scala
  modules/web/server/src/test/scala/navigate/web/server/http4s/NavigateMappingsSuite.scala
Due: Label model PRs, Label server PRs

Reverted debug temporal change.
  modules/web/server/src/main/scala/navigate/web/server/http4s/TopicManager.scala
Due: Label server PRs

SC-3259 Fixed Pointing corrections query.
  modules/model/src/main/scala/navigate/model/PointingCorrections.scala
  modules/server/src/main/scala/navigate/server/NavigateEngine.scala
  modules/server/src/main/scala/navigate/server/tcs/TcsBaseController.scala
  modules/server/src/main/scala/navigate/server/tcs/TcsBaseControllerEpics.scala
  modules/server/src/main/scala/navigate/server/tcs/TcsBaseControllerSim.scala
  modules/web/server/src/main/resources/navigate.graphql
  modules/web/server/src/main/scala/navigate/web/server/http4s/GraphQlRoutes.scala
  modules/web/server/src/main/scala/navigate/web/server/http4s/NavigateMappings.scala
  modules/web/server/src/main/scala/navigate/web/server/http4s/TopicManager.scala
  modules/web/server/src/main/scala/navigate/web/server/http4s/encoder/package.scala
  modules/web/server/src/test/scala/navigate/web/server/http4s/NavigateMappingsSuite.scala
Due: Label model PRs, Label server PRs

SC-5917: API query to retrieve server configuration.
  modules/model/src/main/scala/navigate/model/ServerConfiguration.scala
  modules/model/src/main/scala/navigate/model/config/LucumaSSOConfiguration.scala
  modules/model/src/main/scala/navigate/model/config/NavigateConfiguration.scala
  modules/model/src/main/scala/navigate/model/config/NavigateEngineConfiguration.scala
  modules/model/src/main/scala/navigate/model/config/SystemsControlConfiguration.scala
  modules/model/src/main/scala/navigate/model/config/WebServerConfiguration.scala
  modules/server/src/test/scala/navigate/server/NavigateEngineSpec.scala
  modules/web/server/src/main/resources/navigate.graphql
  modules/web/server/src/main/scala/navigate/web/server/http4s/ClientsSetDb.scala
  modules/web/server/src/main/scala/navigate/web/server/http4s/GraphQlRoutes.scala
  modules/web/server/src/main/scala/navigate/web/server/http4s/NavigateMappings.scala
  modules/web/server/src/main/scala/navigate/web/server/http4s/WebServerLauncher.scala
  modules/web/server/src/main/scala/navigate/web/server/http4s/encoder/package.scala
  modules/web/server/src/test/scala/navigate/web/server/http4s/NavigateMappingsSuite.scala
Due: Label model PRs, Label server PRs

Upgraded to Scala 3.7
  build.sbt
  modules/epics/src/main/scala/navigate/epics/VerifiedEpics.scala
  modules/schema-util/src/test/scala/edu/gemini/schema/util/SchemaStitcherTest.scala
  modules/server/src/main/scala/navigate/server/NavigateEngine.scala
  modules/server/src/main/scala/navigate/server/OdbProxy.scala
  modules/server/src/main/scala/navigate/server/tcs/AgsEpicsSystem.scala
  modules/server/src/main/scala/navigate/server/tcs/CrcsEpicsSystem.scala
  modules/server/src/main/scala/navigate/server/tcs/McsEpicsSystem.scala
  modules/server/src/main/scala/navigate/server/tcs/OiwfsEpicsSystem.scala
  modules/server/src/main/scala/navigate/server/tcs/ScsEpicsSystem.scala
  modules/server/src/main/scala/navigate/server/tcs/TcsBaseControllerEpics.scala
  modules/server/src/main/scala/navigate/server/tcs/TcsEpicsSystem.scala
  modules/server/src/main/scala/navigate/server/tcs/WfsEpicsSystem.scala
  modules/server/src/main/scala/navigate/server/tcs/package.scala
  modules/server/src/test/scala/navigate/server/tcs/TestAcquisitionCameraEpicsSystem.scala
  modules/server/src/test/scala/navigate/server/tcs/TestAgsEpicsSystem.scala
  modules/server/src/test/scala/navigate/server/tcs/TestCrcsEpicsSystem.scala
  modules/server/src/test/scala/navigate/server/tcs/TestMcsEpicsSystem.scala
  modules/server/src/test/scala/navigate/server/tcs/TestScsEpicsSystem.scala
  modules/server/src/test/scala/navigate/server/tcs/TestWfsEpicsSystem.scala
  modules/stateengine/src/main/scala/navigate/stateengine/Handler.scala
  modules/web/server/src/main/scala/navigate/web/server/http4s/GrackleParsers.scala
  modules/web/server/src/main/scala/navigate/web/server/http4s/NavigateMappings.scala
  modules/web/server/src/main/scala/navigate/web/server/http4s/TopicManager.scala
  modules/web/server/src/main/scala/navigate/web/server/http4s/WebServerLauncher.scala
  project/Settings.scala
Due: Label epics PRs, Label schema-util PRs, Label server PRs, Label stateengine PRs

Set evctionErrorLevel to info to bypass build error
  build.sbt
Due: none

Regenerated github workflow
  .github/workflows/ci.yml
Due: none

Increased eviction error level to warning.
  build.sbt
Due: none

Implemented P1 and P2 support.
  modules/server/src/main/scala/navigate/server/tcs/TcsBaseController.scala
  modules/server/src/main/scala/navigate/server/tcs/TcsBaseControllerEpics.scala
  modules/server/src/main/scala/navigate/server/tcs/TcsBaseControllerSim.scala
  modules/server/src/main/scala/navigate/server/tcs/TcsChannels.scala
  modules/server/src/main/scala/navigate/server/tcs/TcsEpicsSystem.scala
  modules/server/src/test/scala/navigate/server/tcs/TcsBaseControllerEpicsSuite.scala
  modules/server/src/test/scala/navigate/server/tcs/TestTcsEpicsSystem.scala
  modules/web/server/src/main/scala/navigate/web/server/http4s/NavigateMappings.scala
Due: Label server PRs

API entries for PWFS1 and PWFS2.
  modules/model/src/main/scala/navigate/model/NavigateCommand.scala
  modules/server/src/main/scala/navigate/server/NavigateEngine.scala
  modules/web/server/src/main/resources/navigate.graphql
  modules/web/server/src/main/scala/navigate/web/server/http4s/NavigateMappings.scala
  modules/web/server/src/test/scala/navigate/web/server/http4s/NavigateMappingsSuite.scala
Due: Label model PRs, Label server PRs

read local systems.conf
  modules/web/server/src/main/scala/navigate/web/server/http4s/WebServerLauncher.scala
Due: Label server PRs

fix site configurations
  deploy/conf/production-gn/site.conf
  deploy/conf/production-gs/site.conf
  deploy/conf/staging-gn/site.conf
  deploy/conf/staging-gs/site.conf
Due: none

fix dev sso url
  modules/web/server/src/main/resources/base.conf
Due: Label server PRs

SC-4687 Disable all tracking before applying new target configuration.
  modules/model/src/main/scala/navigate/model/Distance.scala
  modules/server/src/main/scala/navigate/server/tcs/TcsBaseControllerEpics.scala
  modules/server/src/main/scala/navigate/server/tcs/TcsChannels.scala
  modules/server/src/main/scala/navigate/server/tcs/TcsEpicsSystem.scala
  modules/server/src/test/scala/navigate/server/tcs/TestTcsEpicsSystem.scala
Due: Label model PRs, Label server PRs

SC-6135 Added query for WFS quality values
  modules/server/src/main/scala/navigate/server/tcs/GuideState.scala
  modules/server/src/main/scala/navigate/server/tcs/GuidersQualityValues.scala
  modules/web/server/src/main/resources/navigate.graphql
  modules/web/server/src/main/scala/navigate/web/server/http4s/NavigateMappings.scala
  modules/web/server/src/test/scala/navigate/web/server/http4s/NavigateMappingsSuite.scala
Due: Label server PRs

SC-6117 Fixed definition of coma selection channel.
  modules/server/src/main/scala/navigate/server/tcs/TcsChannels.scala
Due: Label server PRs

SC-6181 Fixed pointing offset channels.
  modules/server/src/main/scala/navigate/server/tcs/TcsChannels.scala
Due: Label server PRs

SC-6180 Fixed RA/Dec offset decoding in backend.
  modules/web/server/src/main/scala/navigate/web/server/http4s/NavigateMappings.scala
  modules/web/server/src/test/scala/navigate/web/server/http4s/NavigateMappingsSuite.scala
Due: Label server PRs

SC-6186 Added support for OI, P1 and P2 reference frames for handsets.
  modules/model/src/main/scala/navigate/model/HandsetAdjustment.scala
  modules/server/src/main/scala/navigate/server/tcs/AgsChannels.scala
  modules/server/src/main/scala/navigate/server/tcs/AgsEpicsSystem.scala
  modules/server/src/main/scala/navigate/server/tcs/TcsBaseControllerEpics.scala
  modules/server/src/test/scala/navigate/server/tcs/TestAgsEpicsSystem.scala
  modules/web/server/src/main/resources/navigate.graphql
  modules/web/server/src/main/scala/navigate/web/server/http4s/NavigateMappings.scala
  modules/web/server/src/test/scala/navigate/web/server/http4s/NavigateMappingsSuite.scala
Due: Label model PRs, Label server PRs

SC-6186 Used Angle optics to get arcsecs.
  modules/server/src/main/scala/navigate/server/tcs/TcsBaseControllerEpics.scala
Due: Label server PRs

Allow configuring web-server variables with env vars
  modules/web/server/src/main/resources/base.conf
Due: Label server PRs

SC-6186 Adjusted angle calculation for the different alignments.
  build.sbt
  modules/server/src/main/scala/navigate/server/tcs/TcsBaseControllerEpics.scala
  modules/server/src/test/scala/navigate/server/tcs/TcsBaseControllerEpicsSuite.scala
  modules/web/server/src/main/resources/navigate.graphql
  modules/web/server/src/main/scala/navigate/web/server/http4s/NavigateMappings.scala
  modules/web/server/src/test/scala/navigate/web/server/http4s/NavigateMappingsSuite.scala
Due: Label server PRs

SC-6217 Fixed flip in focal plane Y offsets.
  modules/server/src/main/scala/navigate/server/tcs/TcsBaseControllerEpics.scala
  modules/server/src/test/scala/navigate/server/tcs/TcsBaseControllerEpicsSuite.scala
Due: Label server PRs

SC-6232 Added missing pollings for offsets subscriptions.
  modules/web/server/src/main/scala/navigate/web/server/http4s/TopicManager.scala
Due: Label server PRs
