Repository jluhrs/navigate-server: changes, and which Mergify rules are due for each by the changed paths.
All: Label epics PRs, Label model PRs, Label navigate-server PRs, Label schema-util PRs, Label server PRs, Label stateengine PRs

.mergify.yml:

# This file was automatically generated by sbt-typelevel-mergify using the
# mergifyGenerate task. You should add and commit this file to
# your git repository. It goes without saying that you shouldn't edit
# this file by hand! Instead, if you wish to make changes, you should
# change your sbt build configuration to revise the mergify configuration
# to meet your needs, then regenerate this file.

pull_request_rules:
- name: merge scala-steward's PRs
  conditions:
  - author=lucuma-steward[bot]
  - or:
    - body~=labels:.*early-semver-patch
    - body~=labels:.*early-semver-minor
    - 'title=flake.lock: Update'
  - status-success=Build and Test (ubuntu-latest, 3.3.1, temurin@17, rootJS)
  - status-success=Build and Test (ubuntu-latest, 3.3.1, temurin@17, rootJVM)
  actions:
    merge: {}
- name: Label epics PRs
  conditions:
  - files~=^modules/epics/
  actions:
    label:
      add:
      - epics
      remove: []
- name: Label model PRs
  conditions:
  - files~=^modules/model/
  actions:
    label:
      add:
      - model
      remove: []
- name: Label navigate-server PRs
  conditions:
  - files~=^app/navigate-server/
  actions:
    label:
      add:
      - navigate-server
      remove: []
- name: Label schema-util PRs
  conditions:
  - files~=^modules/schema-util/
  actions:
    label:
      add:
      - schema-util
      remove: []
- name: Label server PRs
  conditions:
  - files~=^modules/
  actions:
    label:
      add:
      - server
      remove: []
- name: Label stateengine PRs
  conditions:
  - files~=^modules/stateengine/
  actions:
    label:
      add:
      - stateengine
      remove: []

Simulated different ports for GN and GS.
  modules/server/src/main/scala/navigate/server/tcs/TcsNorthControllerSim.scala
  modules/server/src/main/scala/navigate/server/tcs/TcsSouthControllerSim.scala
Due: Label server PRs

SC-6235 Added port readout for IGRINS2.
  modules/server/src/main/scala/navigate/server/NavigateEngine.scala
  modules/server/src/main/scala/navigate/server/tcs/AgsChannels.scala
  modules/server/src/main/scala/navigate/server/tcs/AgsEpicsSystem.scala
  modules/server/src/main/scala/navigate/server/tcs/InstrumentPorts.scala
  modules/server/src/main/scala/navigate/server/tcs/TcsBaseControllerSim.scala
  modules/server/src/main/scala/navigate/server/tcs/TcsNorthControllerEpics.scala
  modules/server/src/main/scala/navigate/server/tcs/TcsNorthControllerSim.scala
  modules/server/src/main/scala/navigate/server/tcs/TcsSouthControllerEpics.scala
  modules/server/src/main/scala/navigate/server/tcs/TcsSouthControllerSim.scala
  modules/server/src/test/scala/navigate/server/tcs/TestAgsEpicsSystem.scala
Due: Label server PRs

SC-6253 Fixed use of wrong conversion of Angle to arcseconds value.
  modules/server/src/main/scala/navigate/server/tcs/TcsBaseControllerEpics.scala
  modules/server/src/test/scala/navigate/server/tcs/TcsBaseControllerEpicsSuite.scala
Due: Label server PRs

SC-4961 Better error handling on subscription streams.
  modules/model/src/main/scala/navigate/model/FocalPlaneOffset.scala
  modules/model/src/main/scala/navigate/model/PointingCorrections.scala
  modules/server/src/main/scala/navigate/server/tcs/GuidersQualityValues.scala
  modules/server/src/main/scala/navigate/server/tcs/TargetOffsets.scala
  modules/web/server/src/main/scala/navigate/web/server/http4s/TopicManager.scala
Due: Label model PRs, Label server PRs

SC-6259 Improved commands log formating.
  modules/model/src/main/scala/navigate/model/HandsetAdjustment.scala
  modules/model/src/main/scala/navigate/model/NavigateCommand.scala
  modules/server/src/main/scala/navigate/server/NavigateEngine.scala
Due: Label model PRs, Label server PRs

SC-6259 Added details to commands logging.
  modules/model/src/main/scala/navigate/model/GuiderConfig.scala
  modules/model/src/main/scala/navigate/model/InstrumentSpecifics.scala
  modules/model/src/main/scala/navigate/model/NavigateCommand.scala
  modules/model/src/main/scala/navigate/model/Origin.scala
  modules/model/src/main/scala/navigate/model/RotatorTrackConfig.scala
  modules/model/src/main/scala/navigate/model/RotatorTrackingMode.scala
  modules/model/src/main/scala/navigate/model/SlewOptions.scala
  modules/model/src/main/scala/navigate/model/SwapConfig.scala
  modules/model/src/main/scala/navigate/model/Target.scala
  modules/model/src/main/scala/navigate/model/TcsConfig.scala
  modules/model/src/main/scala/navigate/model/TrackingConfig.scala
  modules/model/src/main/scala/navigate/model/package.scala
  modules/server/src/main/scala/navigate/server/NavigateEngine.scala
  modules/server/src/main/scala/navigate/server/tcs/SlewConfig.scala
  modules/server/src/main/scala/navigate/server/tcs/TcsBaseController.scala
  modules/server/src/main/scala/navigate/server/tcs/TcsBaseControllerEpics.scala
  modules/server/src/main/scala/navigate/server/tcs/TcsBaseControllerSim.scala
  modules/server/src/main/scala/navigate/server/tcs/TcsEpicsSystem.scala
  modules/server/src/test/scala/navigate/server/tcs/TcsBaseControllerEpicsSuite.scala
  modules/web/server/src/main/scala/navigate/web/server/http4s/NavigateMappings.scala
  modules/web/server/src/test/scala/navigate/web/server/http4s/NavigateMappingsSuite.scala
Due: Label model PRs, Label server PRs

SC-6350 Write origin parameter in the right units.
  modules/model/src/main/scala/navigate/model/Origin.scala
  modules/server/src/main/scala/navigate/server/tcs/TcsEpicsSystem.scala
  modules/server/src/main/scala/navigate/server/tcs/package.scala
  modules/server/src/test/scala/navigate/server/tcs/TcsBaseControllerEpicsSuite.scala
  modules/web/server/src/main/resources/navigate.graphql
  modules/web/server/src/main/scala/navigate/web/server/http4s/NavigateMappings.scala
  modules/web/server/src/test/scala/navigate/web/server/http4s/NavigateMappingsSuite.scala
Due: Label model PRs, Label server PRs

SC-6442 Restored error message for failed commands in log.
  modules/server/src/main/scala/navigate/server/NavigateEngine.scala
Due: Label server PRs

SC-6430 Fixed writing of proper motion and parallax.
  modules/server/src/main/scala/navigate/server/tcs/TcsBaseControllerEpics.scala
  modules/server/src/test/scala/navigate/server/tcs/TcsBaseControllerEpicsSuite.scala
Due: Label server PRs

SC-6441 Scale target X offset following declination.
  modules/server/src/main/scala/navigate/server/tcs/TcsEpicsSystem.scala
Due: Label server PRs

SC-6348 observe and stop now wait on integration flag.
  modules/epics/src/main/scala/navigate/epics/EpicsSystem.scala
  modules/epics/src/main/scala/navigate/epics/RemoteChannel.scala
  modules/epics/src/main/scala/navigate/epics/TestChannel.scala
  modules/server/src/main/scala/navigate/server/acm/ObserveCommand.scala
  modules/server/src/main/scala/navigate/server/tcs/TcsBaseControllerEpics.scala
  modules/server/src/main/scala/navigate/server/tcs/TcsEpicsSystem.scala
  modules/server/src/test/scala/navigate/server/tcs/TestTcsEpicsSystem.scala
Due: Label epics PRs, Label server PRs

SC-4186 Replies now wait for command completion to give real result.
  modules/model/src/main/scala/navigate/model/CommandResult.scala
  modules/model/src/main/scala/navigate/model/NavigateEvent.scala
  modules/server/src/main/scala/navigate/server/NavigateEngine.scala
  modules/server/src/test/scala/navigate/server/NavigateEngineSpec.scala
  modules/web/server/src/main/scala/navigate/web/server/http4s/NavigateMappings.scala
  modules/web/server/src/test/scala/navigate/web/server/http4s/NavigateMappingsSuite.scala
Due: Label model PRs, Label server PRs

SC-6430 Fixed scaling of proper motion RA component set in TCS.
  modules/server/src/main/scala/navigate/server/tcs/TcsBaseControllerEpics.scala
  modules/server/src/test/scala/navigate/server/tcs/TcsBaseControllerEpicsSuite.scala
Due: Label server PRs

SC-4186 Notify operation errors as GraphQL errors
  modules/web/server/src/main/scala/navigate/web/server/http4s/NavigateMappings.scala
  modules/web/server/src/test/scala/navigate/web/server/http4s/NavigateMappingsSuite.scala
Due: Label server PRs

SC-6430 Fixed possible divide by zero.
  modules/server/src/main/scala/navigate/server/tcs/TcsBaseControllerEpics.scala
Due: Label server PRs

SC-5547 Used different Logger for GraphQL set to INFO.
  deploy/conf/local/logback.xml
  deploy/conf/production-gn/logback.xml
  deploy/conf/production-gs/logback.xml
  deploy/conf/staging-gn/logback.xml
  deploy/conf/staging-gs/logback.xml
  modules/web/server/src/main/resources/logback.xml
  modules/web/server/src/main/scala/navigate/web/server/http4s/GraphQlRoutes.scala
  modules/web/server/src/main/scala/navigate/web/server/http4s/WebServerLauncher.scala
Due: Label server PRs

SC-6537 Configure OIWFS wavelength in TCS.
  modules/model/src/main/scala/navigate/model/enums/OiwfsWavelength.scala
  modules/server/src/main/scala/navigate/server/tcs/TcsBaseControllerEpics.scala
  modules/server/src/test/scala/navigate/server/tcs/TcsBaseControllerEpicsSuite.scala
  modules/server/src/test/scala/navigate/server/tcs/TestTcsEpicsSystem.scala
Due: Label model PRs, Label server PRs

SC-6348 Increased timeout for WFS exposure start.
  modules/server/src/main/scala/navigate/server/NavigateEngine.scala
  modules/server/src/main/scala/navigate/server/tcs/TcsBaseControllerEpics.scala
Due: Label server PRs

SC-6537 Normalized timeout constant names.
  modules/server/src/main/scala/navigate/server/tcs/TcsBaseControllerEpics.scala
Due: Label server PRs

SC-6540 Implemented AC mechanisms control.
  modules/model/src/main/scala/navigate/model/AcMechsState.scala
  modules/model/src/main/scala/navigate/model/AcWindow.scala
  modules/model/src/main/scala/navigate/model/NavigateCommand.scala
  modules/model/src/main/scala/navigate/model/enums/AcNdFilter.scala
  modules/model/src/main/scala/navigate/model/enums/AcWindow.scala
  modules/server/src/main/scala/navigate/server/NavigateEngine.scala
  modules/server/src/main/scala/navigate/server/tcs/AcquisitionCameraChannels.scala
  modules/server/src/main/scala/navigate/server/tcs/AcquisitionCameraEpicsSystem.scala
  modules/server/src/main/scala/navigate/server/tcs/TcsBaseController.scala
  modules/server/src/main/scala/navigate/server/tcs/TcsBaseControllerEpics.scala
  modules/server/src/main/scala/navigate/server/tcs/TcsBaseControllerSim.scala
  modules/server/src/main/scala/navigate/server/tcs/TcsNorthControllerSim.scala
  modules/server/src/main/scala/navigate/server/tcs/TcsSouthControllerSim.scala
  modules/server/src/test/scala/navigate/server/tcs/TcsBaseControllerEpicsSuite.scala
  modules/server/src/test/scala/navigate/server/tcs/TestAcquisitionCameraEpicsSystem.scala
  modules/web/server/src/main/resources/navigate.graphql
  modules/web/server/src/main/scala/navigate/web/server/http4s/GraphQlRoutes.scala
  modules/web/server/src/main/scala/navigate/web/server/http4s/NavigateMappings.scala
  modules/web/server/src/main/scala/navigate/web/server/http4s/TopicManager.scala
  modules/web/server/src/main/scala/navigate/web/server/http4s/WebServerLauncher.scala
  modules/web/server/src/main/scala/navigate/web/server/http4s/encoder/package.scala
  modules/web/server/src/test/scala/navigate/web/server/http4s/NavigateMappingsSuite.scala
Due: Label model PRs, Label server PRs

SC-6539 Implemented PWFS mechanisms control.
  modules/model/src/main/scala/navigate/model/NavigateCommand.scala
  modules/model/src/main/scala/navigate/model/PwfsMechsState.scala
  modules/model/src/main/scala/navigate/model/enums/PwfsFieldStop.scala
  modules/model/src/main/scala/navigate/model/enums/PwfsFilter.scala
  modules/server/src/main/scala/navigate/server/NavigateEngine.scala
  modules/server/src/main/scala/navigate/server/tcs/AgsChannels.scala
  modules/server/src/main/scala/navigate/server/tcs/AgsEpicsSystem.scala
  modules/server/src/main/scala/navigate/server/tcs/TcsBaseController.scala
  modules/server/src/main/scala/navigate/server/tcs/TcsBaseControllerEpics.scala
  modules/server/src/main/scala/navigate/server/tcs/TcsBaseControllerSim.scala
  modules/server/src/main/scala/navigate/server/tcs/TcsChannels.scala
  modules/server/src/main/scala/navigate/server/tcs/TcsEpicsSystem.scala
  modules/server/src/test/scala/navigate/server/tcs/TcsBaseControllerEpicsSuite.scala
  modules/server/src/test/scala/navigate/server/tcs/TestAgsEpicsSystem.scala
  modules/server/src/test/scala/navigate/server/tcs/TestTcsEpicsSystem.scala
  modules/web/server/src/test/scala/navigate/web/server/http4s/NavigateMappingsSuite.scala
Due: Label model PRs, Label server PRs

SC-6539 Added PWFS mechanisms control to GraphQL API.
  modules/model/src/main/scala/navigate/model/PwfsMechsState.scala
  modules/model/src/main/scala/navigate/model/enums/PwfsFieldStop.scala
  modules/model/src/main/scala/navigate/model/enums/PwfsFilter.scala
  modules/server/src/main/scala/navigate/server/tcs/TcsEpicsSystem.scala
  modules/server/src/test/scala/navigate/server/tcs/TcsBaseControllerEpicsSuite.scala
  modules/web/server/src/main/resources/navigate.graphql
  modules/web/server/src/main/scala/navigate/web/server/http4s/GraphQlRoutes.scala
  modules/web/server/src/main/scala/navigate/web/server/http4s/NavigateMappings.scala
  modules/web/server/src/main/scala/navigate/web/server/http4s/TopicManager.scala
  modules/web/server/src/main/scala/navigate/web/server/http4s/WebServerLauncher.scala
  modules/web/server/src/main/scala/navigate/web/server/http4s/encoder/package.scala
  modules/web/server/src/test/scala/navigate/web/server/http4s/NavigateMappingsSuite.scala
Due: Label model PRs, Label server PRs

SC-6702 Set fourth parameter of OIWFS gains command.
  modules/server/src/main/scala/navigate/server/tcs/TcsBaseControllerEpics.scala
  modules/server/src/main/scala/navigate/server/tcs/WfsChannels.scala
  modules/server/src/main/scala/navigate/server/tcs/WfsEpicsSystem.scala
  modules/server/src/test/scala/navigate/server/tcs/TcsBaseControllerEpicsSuite.scala
  modules/server/src/test/scala/navigate/server/tcs/TestWfsEpicsSystem.scala
Due: Label server PRs

SC-6702 Set fourth parameter for OIWFS gains only at GS.
  modules/server/src/main/scala/navigate/server/tcs/TcsBaseControllerEpics.scala
  modules/server/src/main/scala/navigate/server/tcs/TcsSouthControllerEpics.scala
  modules/server/src/test/scala/navigate/server/tcs/TcsBaseControllerEpicsSuite.scala
Due: Label server PRs

SC-6710 Fixed bad definition for AC ND filter in schema.
  modules/model/src/main/scala/navigate/model/enums/AcFilter.scala
  modules/web/server/src/main/resources/navigate.graphql
  modules/web/server/src/test/scala/navigate/web/server/http4s/NavigateMappingsSuite.scala
Due: Label model PRs, Label server PRs

SC-6762 Fixed EPIC parameter for AC filter.
  modules/model/src/main/scala/navigate/model/enums/AcFilter.scala
  modules/server/src/test/scala/navigate/server/tcs/TcsBaseControllerEpicsSuite.scala
  modules/web/server/src/main/scala/navigate/web/server/http4s/encoder/package.scala
  modules/web/server/src/test/scala/navigate/web/server/http4s/NavigateMappingsSuite.scala
Due: Label model PRs, Label server PRs

SC-6761 Adjusted AC mechacisms timeout.
  modules/server/src/main/scala/navigate/server/tcs/TcsBaseControllerEpics.scala
Due: Label server PRs

Update coulomb
  modules/model/src/main/scala/navigate/model/Distance.scala
  modules/server/src/main/scala/navigate/server/Systems.scala
  modules/server/src/main/scala/navigate/server/tcs/OiwfsEpicsSystem.scala
  modules/server/src/main/scala/navigate/server/tcs/TcsBaseControllerEpics.scala
  modules/server/src/main/scala/navigate/server/tcs/WfsEpicsSystem.scala
  modules/web/server/src/main/scala/navigate/web/server/http4s/GrackleParsers.scala
  project/Settings.scala
Due: Label model PRs, Label server PRs

SC-6760 Modified general command and observe command processing.
  modules/server/src/main/scala/navigate/server/acm/GeminiApplyCommand.scala
  modules/server/src/main/scala/navigate/server/acm/ObserveCommand.scala
  modules/server/src/test/scala/navigate/server/acm/GeminiApplyCommandSuite.scala
Due: Label server PRs

SC-6817 Fixed acquisition correction timeout.
  modules/server/src/main/scala/navigate/server/tcs/TcsBaseControllerEpics.scala
Due: Label server PRs

Clearer poll error logging
  modules/epics/src/main/scala/navigate/epics/Channel.scala
  modules/epics/src/main/scala/navigate/epics/EpicsService.scala
  modules/server/src/main/scala/navigate/server/CaServiceInit.scala
  modules/web/server/src/main/scala/navigate/web/server/http4s/TopicManager.scala
Due: Label epics PRs, Label server PRs

SC-6867 Apply origin offset to all three virtual telescopes.
  modules/server/src/main/scala/navigate/server/tcs/TcsBaseControllerEpics.scala
  modules/server/src/test/scala/navigate/server/tcs/TcsBaseControllerEpicsSuite.scala
Due: Label server PRs

SC-6869 Wait for inposition flag before resuming guiding when applying offsets.
  modules/server/src/main/scala/navigate/server/tcs/TcsBaseControllerEpics.scala
Due: Label server PRs

SC-6761 Increased timeout for AC mechanisms.
  modules/server/src/main/scala/navigate/server/tcs/TcsBaseControllerEpics.scala
Due: Label server PRs

SC-6884 Fixed EPICS values for AC filters.
  modules/model/src/main/scala/navigate/model/enums/AcFilter.scala
Due: Label model PRs, Label server PRs

SC-6891 Fixed PWFS Red filter wavelength
  modules/model/src/main/scala/navigate/model/enums/PwfsFilter.scala
Due: Label model PRs, Label server PRs

SC-6890 AC and PWFS mechanisms now manage undefined positions
  modules/model/src/main/scala/navigate/model/AcMechsState.scala
  modules/model/src/main/scala/navigate/model/PwfsMechsState.scala
  modules/server/src/main/scala/navigate/server/acm/GeminiApplyCommand.scala
  modules/server/src/main/scala/navigate/server/acm/ObserveCommand.scala
  modules/server/src/main/scala/navigate/server/tcs/AcquisitionCameraEpicsSystem.scala
  modules/server/src/main/scala/navigate/server/tcs/AgsEpicsSystem.scala
  modules/server/src/main/scala/navigate/server/tcs/TcsBaseControllerEpics.scala
  modules/server/src/main/scala/navigate/server/tcs/TcsBaseControllerSim.scala
  modules/server/src/main/scala/navigate/server/tcs/TcsNorthControllerSim.scala
  modules/server/src/main/scala/navigate/server/tcs/TcsSouthControllerSim.scala
  modules/server/src/test/scala/navigate/server/tcs/TcsBaseControllerEpicsSuite.scala
  modules/web/server/src/main/resources/navigate.graphql
  modules/web/server/src/test/scala/navigate/web/server/http4s/NavigateMappingsSuite.scala
Due: Label model PRs, Label server PRs

SC-6896 Expanded log message for AC mechanism commands.
  modules/model/src/main/scala/navigate/model/NavigateCommand.scala
Due: Label model PRs, Label server PRs

SC-6895 Clear internal guide state on slew
  modules/server/src/main/scala/navigate/server/NavigateEngine.scala
  modules/server/src/test/scala/navigate/server/NavigateEngineSpec.scala
Due: Label server PRs

SC-6959 Fixed PWFS field stop position decoding.
  modules/server/src/main/scala/navigate/server/tcs/AgsEpicsSystem.scala
  modules/server/src/main/scala/navigate/server/tcs/TcsEpicsSystem.scala
  modules/server/src/main/scala/navigate/server/tcs/encoders/package.scala
  modules/server/src/test/scala/navigate/server/tcs/TcsBaseControllerEpicsSuite.scala
Due: Label server PRs
