Repository jluhrs/navigate-server: changes, and which Mergify rules are due for each by the changed paths.
All: Label epics PRs, Label model PRs, Label navigate-server PRs, Label schema-util PRs, Label server PRs, Label stateengine PRs

.mergify.yml:

# This file was automatically generated by sbt-typelevel-mergify using the
# mergifyGenerate task. You should add and commit this file to
# your git repository. It goes without saying that you shouldn't edit
# this file by hand! Instead, if you wish to make changes, you should
# change your sbt build configuration to revise the mergify configuration
# to meet your needs, then regenerate this file.

pull_request_rules:
- name: merge scala-steward's PRs
  conditions:
  - author=lucuma-steward[bot]
  - or:
    - body~=labels:.*early-semver-patch
    - body~=labels:.*early-semver-minor
    - 'title=flake.lock: Update'
  - status-success=Build and Test (ubuntu-latest, 3.3.1, temurin@17, rootJS)
  - status-success=Build and Test (ubuntu-latest, 3.3.1, temurin@17, rootJVM)
  actions:
    merge: {}
- name: Label epics PRs
  conditions:
  - files~=^modules/epics/
  actions:
    label:
      add:
      - epics
      remove: []
- name: Label model PRs
  conditions:
  - files~=^modules/model/
  actions:
    label:
      add:
      - model
      remove: []
- name: Label navigate-server PRs
  conditions:
  - files~=^app/navigate-server/
  actions:
    label:
      add:
      - navigate-server
      remove: []
- name: Label schema-util PRs
  conditions:
  - files~=^modules/schema-util/
  actions:
    label:
      add:
      - schema-util
      remove: []
- name: Label server PRs
  conditions:
  - files~=^modules/
  actions:
    label:
      add:
      - server
      remove: []
- name: Label stateengine PRs
  conditions:
  - files~=^modules/stateengine/
  actions:
    label:
      add:
      - stateengine
      remove: []

Fixed bug that could cause out-of-order processing of input events.
  modules/stateengine/src/main/scala/navigate/stateengine/StateEngine.scala
Due: Label server PRs, Label stateengine PRs

Updated lucuma-schema dependency
  modules/web/server/src/main/scala/navigate/web/server/http4s/NavigateMappings.scala
  project/Settings.scala
Due: Label server PRs

Implemented OIWFS probe tracking configuration.
  modules/epics/src/main/scala/navigate/epics/EpicsService.scala
  modules/model/jvm/src/main/scala/navigate/model/config/AuthenticationConfig.scala
  modules/model/jvm/src/main/scala/navigate/model/config/NavigateEngineConfiguration.scala
  modules/model/jvm/src/main/scala/navigate/model/config/SystemsControlConfiguration.scala
  modules/model/shared/src/main/scala/navigate/common/FixedLengthBuffer.scala
  modules/model/shared/src/main/scala/navigate/model/NavigateEvent.scala
  modules/model/shared/src/main/scala/navigate/model/package.scala
  modules/schema-util/src/main/scala/edu/gemini/schema/util/SchemaStitcher.scala
  modules/server/src/main/scala/navigate/server/NavigateFailure.scala
  modules/server/src/main/scala/navigate/server/Systems.scala
  modules/server/src/main/scala/navigate/server/tcs/Origin.scala
  modules/server/src/main/scala/navigate/server/tcs/Target.scala
  modules/server/src/main/scala/navigate/server/tcs/TcsBaseController.scala
  modules/server/src/main/scala/navigate/server/tcs/TcsBaseControllerEpics.scala
  modules/server/src/main/scala/navigate/server/tcs/TcsBaseControllerSim.scala
  modules/server/src/main/scala/navigate/server/tcs/TcsEpicsSystem.scala
  modules/server/src/main/scala/navigate/server/tcs/TrackingConfig.scala
  modules/stateengine/src/main/scala/navigate/stateengine/Handler.scala
  modules/stateengine/src/main/scala/navigate/stateengine/StateEngine.scala
  modules/web/server/src/main/scala/navigate/web/server/http4s/OperationOutcome.scala
  modules/web/server/src/main/scala/navigate/web/server/security/FreeLDAPAuthenticationService.scala
  modules/web/server/src/main/scala/navigate/web/server/security/package.scala
Due: Label epics PRs, Label model PRs, Label schema-util PRs, Label server PRs, Label stateengine PRs

Added API entry for OIWFS tracking command.
  modules/model/shared/src/main/scala/navigate/model/NavigateCommand.scala
  modules/server/src/main/scala/navigate/server/NavigateEngine.scala
  modules/web/server/src/main/resources/NewTCC.graphql
  modules/web/server/src/main/scala/navigate/web/server/http4s/NavigateMappings.scala
  modules/web/server/src/test/scala/navigate/web/server/http4s/NavigateMappingsTest.scala
Due: Label model PRs, Label server PRs

Included OIWFS tracking configuration in Slew command.
  modules/server/src/main/scala/navigate/server/tcs/GuiderConfig.scala
  modules/server/src/main/scala/navigate/server/tcs/TcsBaseControllerEpics.scala
  modules/server/src/test/scala/navigate/server/tcs/TcsBaseControllerEpicsSpec.scala
  modules/server/src/test/scala/navigate/server/tcs/TestTcsEpicsSystem.scala
  modules/web/server/src/main/resources/NewTCC.graphql
  modules/web/server/src/main/scala/navigate/web/server/http4s/NavigateMappings.scala
  modules/web/server/src/test/scala/navigate/web/server/http4s/NavigateMappingsTest.scala
Due: Label server PRs

Updated grackle to 0.15.0
  modules/schema-util/src/main/scala/edu/gemini/schema/util/SchemaStitcher.scala
  modules/schema-util/src/test/scala/edu/gemini/schema/util/SchemaStitcherTest.scala
  modules/web/server/src/main/scala/navigate/web/server/http4s/GrackleParsers.scala
  modules/web/server/src/main/scala/navigate/web/server/http4s/GraphQlRoutes.scala
  modules/web/server/src/main/scala/navigate/web/server/http4s/NavigateMappings.scala
  project/Settings.scala
Due: Label schema-util PRs, Label server PRs

OIWFS park and follow commands
  modules/server/src/main/scala/navigate/server/NavigateEngine.scala
  modules/server/src/main/scala/navigate/server/tcs/TcsBaseController.scala
  modules/server/src/main/scala/navigate/server/tcs/TcsBaseControllerEpics.scala
  modules/server/src/main/scala/navigate/server/tcs/TcsBaseControllerSim.scala
  modules/server/src/main/scala/navigate/server/tcs/TcsEpicsSystem.scala
  modules/server/src/test/scala/navigate/server/tcs/TcsBaseControllerEpicsSpec.scala
  modules/server/src/test/scala/navigate/server/tcs/TestTcsEpicsSystem.scala
  modules/web/server/src/test/scala/navigate/web/server/http4s/NavigateMappingsTest.scala
Due: Label server PRs

Entry points for OIWFS probe commands.
  modules/web/server/src/main/resources/NewTCC.graphql
  modules/web/server/src/main/scala/navigate/web/server/http4s/NavigateMappings.scala
  modules/web/server/src/test/scala/navigate/web/server/http4s/NavigateMappingsTest.scala
Due: Label server PRs

Implemented rotator tracking configuration.
  modules/model/shared/src/main/scala/navigate/model/NavigateCommand.scala
  modules/server/src/main/scala/navigate/server/NavigateEngine.scala
  modules/server/src/main/scala/navigate/server/tcs/RotatorTrackConfig.scala
  modules/server/src/main/scala/navigate/server/tcs/RotatorTrackingMode.scala
  modules/server/src/main/scala/navigate/server/tcs/SlewConfig.scala
  modules/server/src/main/scala/navigate/server/tcs/TcsBaseController.scala
  modules/server/src/main/scala/navigate/server/tcs/TcsBaseControllerEpics.scala
  modules/server/src/main/scala/navigate/server/tcs/TcsBaseControllerSim.scala
  modules/server/src/main/scala/navigate/server/tcs/TcsEpicsSystem.scala
  modules/server/src/test/scala/navigate/server/tcs/TcsBaseControllerEpicsSpec.scala
  modules/web/server/src/main/resources/NewTCC.graphql
  modules/web/server/src/main/scala/navigate/web/server/http4s/GrackleParsers.scala
  modules/web/server/src/main/scala/navigate/web/server/http4s/NavigateMappings.scala
  modules/web/server/src/test/scala/navigate/web/server/http4s/NavigateMappingsTest.scala
Due: Label model PRs, Label server PRs

Implemented logs subscription in GraphQl.
  modules/web/server/src/main/resources/NewTCC.graphql
  modules/web/server/src/main/resources/logback.xml
  modules/web/server/src/main/scala/navigate/web/server/http4s/GraphQlRoutes.scala
  modules/web/server/src/main/scala/navigate/web/server/http4s/NavigateMappings.scala
  modules/web/server/src/main/scala/navigate/web/server/http4s/WebServerLauncher.scala
  modules/web/server/src/main/scala/navigate/web/server/http4s/encoder/package.scala
  modules/web/server/src/main/scala/navigate/web/server/logging/AppenderForClients.scala
  modules/web/server/src/main/scala/navigate/web/server/logging/LogMessageBuilder.scala
  modules/web/server/src/main/scala/navigate/web/server/logging/SubscriptionAppender.scala
  modules/web/server/src/main/scala/navigate/web/server/logging/package.scala
  modules/web/server/src/test/scala/navigate/web/server/http4s/NavigateMappingsTest.scala
  project/Settings.scala
Due: Label server PRs

Updated sbt-lucuma-app to 0.11.9
  .github/workflows/ci.yml
  .mergify.yml
  .scalafmt-common.conf
  modules/model/shared/src/main/scala/navigate/model/boopickle/ModelBooPicklers.scala
  modules/schema-util/src/main/scala/edu/gemini/schema/util/SchemaStitcher.scala
  modules/schema-util/src/main/scala/edu/gemini/schema/util/SourceResolver.scala
  modules/server/src/main/scala/navigate/server/acm/package.scala
  modules/server/src/main/scala/navigate/server/tcs/RotatorTrackConfig.scala
  modules/server/src/main/scala/navigate/server/tcs/Target.scala
  modules/stateengine/src/main/scala/navigate/stateengine/Handler.scala
  modules/stateengine/src/test/scala/navigate/stateengine/StateEngineSpec.scala
  modules/web/server/src/main/scala/navigate/web/server/http4s/GrackleParsers.scala
  modules/web/server/src/main/scala/navigate/web/server/http4s/GraphQlRoutes.scala
  modules/web/server/src/main/scala/navigate/web/server/http4s/NavigateMappings.scala
  modules/web/server/src/main/scala/navigate/web/server/http4s/NavigateUIApiRoutes.scala
  modules/web/server/src/main/scala/navigate/web/server/http4s/OperationOutcome.scala
  modules/web/server/src/main/scala/navigate/web/server/http4s/WebServerLauncher.scala
  modules/web/server/src/test/scala/navigate/web/server/http4s/NavigateMappingsTest.scala
  project/plugins.sbt
Due: Label model PRs, Label schema-util PRs, Label server PRs, Label stateengine PRs

Implemented guide configuration commands
  modules/model/shared/src/main/scala/navigate/model/enums/M1Source.scala
  modules/model/shared/src/main/scala/navigate/model/enums/TipTiltSource.scala
  modules/server/src/main/scala/navigate/server/tcs/M1GuideConfig.scala
  modules/server/src/main/scala/navigate/server/tcs/M2GuideConfig.scala
  modules/server/src/main/scala/navigate/server/tcs/TcsBaseController.scala
  modules/server/src/main/scala/navigate/server/tcs/TcsBaseControllerEpics.scala
  modules/server/src/main/scala/navigate/server/tcs/TcsBaseControllerSim.scala
  modules/server/src/main/scala/navigate/server/tcs/TcsEpicsSystem.scala
  modules/server/src/main/scala/navigate/server/tcs/TelescopeGuideConfig.scala
  modules/server/src/test/scala/navigate/server/tcs/TcsBaseControllerEpicsSpec.scala
  modules/server/src/test/scala/navigate/server/tcs/TestTcsEpicsSystem.scala
Due: Label model PRs, Label server PRs

Updated some libraries.
  project/Settings.scala
Due: none

Addressed PR comments.
  modules/model/shared/src/main/scala/navigate/model/enums/M1Source.scala
  modules/model/shared/src/main/scala/navigate/model/enums/TipTiltSource.scala
  modules/server/src/main/scala/navigate/server/tcs/M1GuideConfig.scala
  modules/server/src/main/scala/navigate/server/tcs/M2GuideConfig.scala
  modules/server/src/main/scala/navigate/server/tcs/TelescopeGuideConfig.scala
Due: Label model PRs, Label server PRs

Log channels that cause command failure.
  modules/epics/src/main/scala/navigate/epics/EpicsSystem.scala
  modules/epics/src/main/scala/navigate/epics/VerifiedEpics.scala
  modules/server/src/main/scala/navigate/server/tcs/TcsEpicsSystem.scala
Due: Label epics PRs, Label server PRs

Removed old application interface.
  modules/model/shared/src/main/scala/navigate/common/FixedLengthBuffer.scala
  modules/model/shared/src/main/scala/navigate/common/HttpStatusCodes.scala
  modules/model/shared/src/main/scala/navigate/model/boopickle/ModelBooPicklers.scala
  modules/model/shared/src/main/scala/navigate/model/boopickle/package.scala
  modules/web/server/src/main/scala/navigate/web/server/http4s/NavigateCommandRoutes.scala
  modules/web/server/src/main/scala/navigate/web/server/http4s/NavigateUIApiRoutes.scala
  modules/web/server/src/main/scala/navigate/web/server/http4s/WebServerLauncher.scala
Due: Label model PRs, Label server PRs

Normalized graphql api path.
  modules/web/server/src/main/scala/navigate/web/server/http4s/GraphQlRoutes.scala
  modules/web/server/src/main/scala/navigate/web/server/http4s/WebServerLauncher.scala
Due: Label server PRs

Implemented TCS configuration command.
  modules/model/shared/src/main/scala/navigate/model/NavigateCommand.scala
  modules/server/src/main/scala/navigate/server/NavigateEngine.scala
  modules/server/src/main/scala/navigate/server/tcs/SlewConfig.scala
  modules/server/src/main/scala/navigate/server/tcs/Target.scala
  modules/server/src/main/scala/navigate/server/tcs/TcsBaseController.scala
  modules/server/src/main/scala/navigate/server/tcs/TcsBaseControllerEpics.scala
  modules/server/src/main/scala/navigate/server/tcs/TcsBaseControllerSim.scala
  modules/server/src/test/scala/navigate/server/tcs/TcsBaseControllerEpicsSpec.scala
  modules/web/server/src/main/resources/NewTCC.graphql
  modules/web/server/src/main/scala/navigate/web/server/http4s/NavigateMappings.scala
  modules/web/server/src/test/scala/navigate/web/server/http4s/NavigateMappingsTest.scala
Due: Label model PRs, Label server PRs

Implemented OIWFS exposure commands.
  modules/model/shared/src/main/scala/navigate/model/NavigateCommand.scala
  modules/server/src/main/scala/navigate/server/NavigateEngine.scala
  modules/server/src/main/scala/navigate/server/tcs/TcsBaseController.scala
  modules/server/src/main/scala/navigate/server/tcs/TcsBaseControllerEpics.scala
  modules/server/src/main/scala/navigate/server/tcs/TcsBaseControllerSim.scala
  modules/server/src/main/scala/navigate/server/tcs/TcsEpicsSystem.scala
  modules/server/src/test/scala/navigate/server/tcs/TcsBaseControllerEpicsSpec.scala
  modules/server/src/test/scala/navigate/server/tcs/TestTcsEpicsSystem.scala
  modules/web/server/src/main/resources/NewTCC.graphql
  modules/web/server/src/main/scala/navigate/web/server/http4s/GrackleParsers.scala
  modules/web/server/src/main/scala/navigate/web/server/http4s/NavigateMappings.scala
  modules/web/server/src/test/scala/navigate/web/server/http4s/NavigateMappingsTest.scala
Due: Label model PRs, Label server PRs

all-in-one deployment
  .gitignore
  README.md
  app/navigate-server/src/main/resources/conf/app.conf
  app/navigate-server/src/main/resources/systemd/navigate-server.env
  app/navigate-server/src/main/resources/systemd/navigate-server.service
  build.sbt
  modules/web/server/src/main/scala/navigate/web/server/common/LogInitialization.scala
  modules/web/server/src/main/scala/navigate/web/server/common/StaticRoutes.scala
  modules/web/server/src/main/scala/navigate/web/server/common/package.scala
  modules/web/server/src/main/scala/navigate/web/server/http4s/WebServerLauncher.scala
  project/AppsCommon.scala
Due: Label navigate-server PRs, Label server PRs

allow more timeout for test
  modules/web/server/src/test/scala/navigate/web/server/http4s/NavigateMappingsTest.scala
Due: Label server PRs

fix project name in readme
  README.md
Due: none

adjustments for package deployment
  app/navigate-server/src/main/resources/conf/app.conf
  build.sbt
  modules/web/server/src/main/scala/navigate/web/server/http4s/WebServerLauncher.scala
Due: Label navigate-server PRs, Label server PRs

Add proxy functionality. Re-enable local conf.
  app/navigate-server/src/main/resources/conf/app.conf
  modules/model/jvm/src/main/scala/navigate/model/config/WebServerConfiguration.scala
  modules/web/server/src/main/resources/app.conf
  modules/web/server/src/main/scala/navigate/web/server/http4s/ProxyBuilder.scala
  modules/web/server/src/main/scala/navigate/web/server/http4s/WebServerLauncher.scala
Due: Label model PRs, Label navigate-server PRs, Label server PRs

Implemented subscription to TCS guide state
  modules/model/shared/src/main/scala/navigate/model/enums/M1Source.scala
  modules/model/shared/src/main/scala/navigate/model/enums/TipTiltSource.scala
  modules/server/src/main/scala/navigate/server/CaServiceInit.scala
  modules/server/src/main/scala/navigate/server/NavigateEngine.scala
  modules/server/src/main/scala/navigate/server/Systems.scala
  modules/server/src/main/scala/navigate/server/acm/ApplyRecord.scala
  modules/server/src/main/scala/navigate/server/acm/CarRecord.scala
  modules/server/src/main/scala/navigate/server/acm/GeminiApplyCommand.scala
  modules/server/src/main/scala/navigate/server/acm/ParameterList.scala
  modules/server/src/main/scala/navigate/server/acm/package.scala
  modules/server/src/main/scala/navigate/server/tcs/GuideState.scala
  modules/server/src/main/scala/navigate/server/tcs/M1GuideConfig.scala
  modules/server/src/main/scala/navigate/server/tcs/M2GuideConfig.scala
  modules/server/src/main/scala/navigate/server/tcs/Target.scala
  modules/server/src/main/scala/navigate/server/tcs/TcsBaseController.scala
  modules/server/src/main/scala/navigate/server/tcs/TcsBaseControllerEpics.scala
  modules/server/src/main/scala/navigate/server/tcs/TcsBaseControllerSim.scala
  modules/server/src/main/scala/navigate/server/tcs/TcsChannels.scala
  modules/server/src/main/scala/navigate/server/tcs/TcsEpicsSystem.scala
  modules/server/src/main/scala/navigate/server/tcs/TelescopeGuideConfig.scala
  modules/web/server/src/main/resources/NewTCC.graphql
  modules/web/server/src/main/scala/navigate/web/server/http4s/GraphQlRoutes.scala
  modules/web/server/src/main/scala/navigate/web/server/http4s/NavigateMappings.scala
  modules/web/server/src/main/scala/navigate/web/server/http4s/WebServerLauncher.scala
  modules/web/server/src/main/scala/navigate/web/server/http4s/encoder/package.scala
  modules/web/server/src/test/scala/navigate/web/server/http4s/NavigateMappingsTest.scala
Due: Label model PRs, Label server PRs

Guide state query.
  modules/server/src/main/scala/navigate/server/Systems.scala
  modules/server/src/main/scala/navigate/server/tcs/TcsBaseControllerSim.scala
  modules/server/src/main/scala/navigate/server/tcs/TcsNorthControllerSim.scala
  modules/server/src/main/scala/navigate/server/tcs/TcsSouthControllerSim.scala
  modules/web/server/src/main/resources/NewTCC.graphql
  modules/web/server/src/main/scala/navigate/web/server/http4s/NavigateMappings.scala
  modules/web/server/src/main/scala/navigate/web/server/http4s/WebServerLauncher.scala
Due: Label server PRs

Implemented unit test for guide state read.
  build.sbt
  modules/model/shared/src/main/scala/navigate/model/enums/M1Source.scala
  modules/model/shared/src/main/scala/navigate/model/enums/TipTiltSource.scala
  modules/server/src/main/scala/navigate/server/NavigateEngine.scala
  modules/server/src/main/scala/navigate/server/tcs/GuideState.scala
  modules/server/src/main/scala/navigate/server/tcs/TcsBaseController.scala
  modules/server/src/main/scala/navigate/server/tcs/TcsBaseControllerEpics.scala
  modules/server/src/main/scala/navigate/server/tcs/TcsBaseControllerSim.scala
  modules/server/src/main/scala/navigate/server/tcs/TcsChannels.scala
  modules/server/src/main/scala/navigate/server/tcs/TcsEpicsSystem.scala
  modules/server/src/main/scala/navigate/server/tcs/TcsNorthControllerSim.scala
  modules/server/src/main/scala/navigate/server/tcs/TcsSouthControllerSim.scala
  modules/server/src/test/scala/navigate/server/TestEpicsCommands.scala
  modules/server/src/test/scala/navigate/server/tcs/TcsBaseControllerEpicsSpec.scala
  modules/server/src/test/scala/navigate/server/tcs/TestTcsEpicsSystem.scala
  modules/web/server/src/main/resources/NewTCC.graphql
  modules/web/server/src/main/scala/navigate/web/server/http4s/GrackleParsers.scala
  modules/web/server/src/main/scala/navigate/web/server/http4s/NavigateMappings.scala
  modules/web/server/src/main/scala/navigate/web/server/http4s/WebServerLauncher.scala
  modules/web/server/src/main/scala/navigate/web/server/http4s/encoder/package.scala
  modules/web/server/src/test/scala/navigate/web/server/http4s/NavigateMappingsTest.scala
  project/Settings.scala
Due: Label model PRs, Label server PRs

Removed target id from oiwfs target in schema.
  modules/server/src/main/scala/navigate/server/tcs/TcsBaseControllerEpics.scala
  modules/web/server/src/main/resources/NewTCC.graphql
  modules/web/server/src/main/scala/navigate/web/server/http4s/NavigateMappings.scala
  modules/web/server/src/test/scala/navigate/web/server/http4s/NavigateMappingsTest.scala
  project/Settings.scala
Due: Label server PRs

Cleanup removing legacy scala.js libs and authentication code
  .envrc
  .github/workflows/ci.yml
  .gitignore
  .mergify.yml
  build.sbt
  flake.lock
  flake.nix
  modules/model/jvm/src/main/scala/navigate/model/config/AuthenticationConfig.scala
  modules/model/shared/src/main/scala/navigate/model/security/package.scala
  modules/model/src/main/scala/navigate/model/Distance.scala
  modules/model/src/main/scala/navigate/model/EngineInputEvent.scala
  modules/model/src/main/scala/navigate/model/NavigateCommand.scala
  modules/model/src/main/scala/navigate/model/NavigateEvent.scala
  modules/model/src/main/scala/navigate/model/config/ControlStrategy.scala
  modules/model/src/main/scala/navigate/model/config/Mode.scala
  modules/model/src/main/scala/navigate/model/config/NavigateConfiguration.scala
  modules/model/src/main/scala/navigate/model/config/NavigateEngineConfiguration.scala
  modules/model/src/main/scala/navigate/model/config/SystemsControlConfiguration.scala
  modules/model/src/main/scala/navigate/model/config/WebServerConfiguration.scala
  modules/model/src/main/scala/navigate/model/enums/DomeMode.scala
  modules/model/src/main/scala/navigate/model/enums/M1Source.scala
  modules/model/src/main/scala/navigate/model/enums/ServerLogLevel.scala
  modules/model/src/main/scala/navigate/model/enums/ShutterMode.scala
  modules/model/src/main/scala/navigate/model/enums/TipTiltSource.scala
  modules/model/src/main/scala/navigate/model/package.scala
  modules/web/server/src/main/scala/navigate/web/server/http4s/PingRoutes.scala
  modules/web/server/src/main/scala/navigate/web/server/http4s/WebServerLauncher.scala
  modules/web/server/src/main/scala/navigate/web/server/security/FreeLDAPAuthenticationService.scala
  modules/web/server/src/main/scala/navigate/web/server/security/Http4sAuthentication.scala
  modules/web/server/src/main/scala/navigate/web/server/security/LdapConnectionOps.scala
  modules/web/server/src/main/scala/navigate/web/server/security/TestAuthenticationService.scala
  modules/web/server/src/main/scala/navigate/web/server/security/package.scala
  project/Settings.scala
  project/plugins.sbt
Due: Label model PRs, Label server PRs

Add guider gain channels
  modules/epics/src/main/scala/navigate/epics/EpicsService.scala
  modules/server/src/main/scala/navigate/server/tcs/TcsChannels.scala
  modules/server/src/test/scala/navigate/server/tcs/TestTcsEpicsSystem.scala
  modules/web/server/src/main/resources/NewTCC.graphql
Due: Label epics PRs, Label server PRs

Set guider gains depending on dayMode
  modules/server/src/main/scala/navigate/server/tcs/TcsBaseControllerEpics.scala
  modules/server/src/main/scala/navigate/server/tcs/TcsChannels.scala
  modules/server/src/main/scala/navigate/server/tcs/TcsEpicsSystem.scala
  modules/server/src/main/scala/navigate/server/tcs/TelescopeGuideConfig.scala
  modules/server/src/test/scala/navigate/server/tcs/TcsBaseControllerEpicsSpec.scala
  modules/server/src/test/scala/navigate/server/tcs/TestTcsEpicsSystem.scala
  modules/web/server/src/main/resources/NewTCC.graphql
  modules/web/server/src/main/scala/navigate/web/server/http4s/NavigateMappings.scala
  modules/web/server/src/test/scala/navigate/web/server/http4s/NavigateMappingsTest.scala
Due: Label server PRs

Make separate tops for each PWFS1/PWFS2/OIWFS
  modules/server/src/main/scala/navigate/server/tcs/TcsChannels.scala
  modules/server/src/main/scala/navigate/server/tcs/TcsEpicsSystem.scala
Due: Label server PRs

Use separate telltale channels per guider
  modules/server/src/main/scala/navigate/server/tcs/TcsBaseControllerEpics.scala
  modules/server/src/main/scala/navigate/server/tcs/TcsChannels.scala
  modules/server/src/main/scala/navigate/server/tcs/TcsEpicsSystem.scala
Due: Label server PRs

Put tops into newtypes
  modules/epics/src/main/scala/navigate/epics/EpicsService.scala
  modules/server/src/main/scala/navigate/server/tcs/TcsChannels.scala
  modules/server/src/main/scala/navigate/server/tcs/TcsEpicsSystem.scala
  modules/server/src/main/scala/navigate/server/tcs/package.scala
  modules/server/src/test/scala/navigate/server/tcs/TestTcsEpicsSystem.scala
Due: Label epics PRs, Label server PRs

Some cleanups
  modules/server/src/main/scala/navigate/server/tcs/TcsChannels.scala
  modules/server/src/main/scala/navigate/server/tcs/TcsEpicsSystem.scala
Due: Label server PRs

Add support to input probeGuide
  build.sbt
  modules/server/src/main/scala/navigate/server/tcs/ProbeGuide.scala
  modules/web/server/src/main/resources/NewTCC.graphql
  modules/web/server/src/main/scala/navigate/web/server/http4s/NavigateMappings.scala
  modules/web/server/src/test/scala/navigate/web/server/http4s/NavigateMappingsTest.scala
  project/Settings.scala
Due: Label server PRs

Set channels to provide the guide mode when doing enableGuide
  modules/server/src/main/scala/navigate/server/tcs/TcsBaseControllerEpics.scala
  modules/server/src/main/scala/navigate/server/tcs/TcsChannels.scala
  modules/server/src/main/scala/navigate/server/tcs/TcsEpicsSystem.scala
  modules/server/src/test/scala/navigate/server/tcs/TcsBaseControllerEpicsSuite.scala
  modules/server/src/test/scala/navigate/server/tcs/TestTcsEpicsSystem.scala
  modules/web/server/src/main/scala/navigate/web/server/http4s/NavigateMappings.scala
  modules/web/server/src/test/scala/navigate/web/server/http4s/NavigateMappingsTest.scala
  project/Settings.scala
Due: Label server PRs

Rename guideMode methods to probeGuideMode
  modules/server/src/main/scala/navigate/server/tcs/TcsBaseControllerEpics.scala
  modules/server/src/main/scala/navigate/server/tcs/TcsChannels.scala
  modules/server/src/main/scala/navigate/server/tcs/TcsEpicsSystem.scala
  modules/server/src/test/scala/navigate/server/tcs/TcsBaseControllerEpicsSuite.scala
  modules/server/src/test/scala/navigate/server/tcs/TestTcsEpicsSystem.scala
Due: Label server PRs

docker deploy
  README.md
  build.sbt
  deploy/navigate-server/src/main/resources/conf/app.conf
  deploy/navigate-server/src/main/resources/systemd/navigate-server.env
  deploy/navigate-server/src/main/resources/systemd/navigate-server.service
  project/AppsCommon.scala
Due: none
