Repository jluhrs/navigate-server: changes, and which Mergify rules are due for each by the changed paths.
All: Label epics PRs, Label model PRs, Label navigate-server PRs, Label schema-util PRs, Label server PRs, Label stateengine PRs

Label epics PRs:
  label:
    add:
    - epics
    remove: []

Label model PRs:
  label:
    add:
    - model
    remove: []

Label navigate-server PRs:
  label:
    add:
    - navigate-server
    remove: []

Label schema-util PRs:
  label:
    add:
    - schema-util
    remove: []

Label server PRs:
  label:
    add:
    - server
    remove: []

Label stateengine PRs:
  label:
    add:
    - stateengine
    remove: []

regenerate workflows
  .mergify.yml
Due: none

Update to scala 3.4.0
  build.sbt
  modules/epics/src/main/scala/navigate/epics/EpicsService.scala
  modules/schema-util/src/main/scala/edu/gemini/schema/util/SchemaStitcher.scala
  modules/web/server/src/main/scala/navigate/web/server/common/StaticRoutes.scala
  modules/web/server/src/main/scala/navigate/web/server/http4s/NavigateMappings.scala
  modules/web/server/src/main/scala/navigate/web/server/http4s/WebServerLauncher.scala
Due: Label epics PRs, Label schema-util PRs, Label server PRs

Multiple library updates
  project/Settings.scala
  project/plugins.sbt
Due: none

Send guide configuration to observe
  build.sbt
  deploy/navigate-server/src/main/resources/conf/app.conf
  modules/model/src/main/scala/navigate/model/config/NavigateEngineConfiguration.scala
  modules/model/src/main/scala/navigate/model/config/SystemsControlConfiguration.scala
  modules/model/src/main/scala/navigate/model/enums/M1Source.scala
  modules/model/src/main/scala/navigate/model/enums/TipTiltSource.scala
  modules/server/src/main/scala/navigate/server/NavigateEngine.scala
  modules/server/src/main/scala/navigate/server/Systems.scala
  modules/server/src/main/scala/navigate/server/tcs/GuideState.scala
  modules/server/src/main/scala/navigate/server/tcs/M1GuideConfig.scala
  modules/server/src/main/scala/navigate/server/tcs/M2GuideConfig.scala
  modules/server/src/main/scala/navigate/server/tcs/ProbeGuide.scala
  modules/server/src/main/scala/navigate/server/tcs/TcsBaseController.scala
  modules/server/src/main/scala/navigate/server/tcs/TcsBaseControllerEpics.scala
  modules/server/src/main/scala/navigate/server/tcs/TcsBaseControllerSim.scala
  modules/server/src/main/scala/navigate/server/tcs/TcsEpicsSystem.scala
  modules/server/src/main/scala/navigate/server/tcs/TcsNorthControllerSim.scala
  modules/server/src/main/scala/navigate/server/tcs/TcsSouthControllerSim.scala
  modules/server/src/main/scala/navigate/server/tcs/TelescopeGuideConfig.scala
  modules/server/src/test/scala/navigate/server/tcs/TcsBaseControllerEpicsSuite.scala
  modules/web/server/src/main/resources/app.conf
  modules/web/server/src/main/scala/navigate/web/server/http4s/NavigateMappings.scala
  modules/web/server/src/main/scala/navigate/web/server/http4s/WebServerLauncher.scala
  modules/web/server/src/main/scala/navigate/web/server/http4s/encoder/package.scala
  modules/web/server/src/test/scala/navigate/web/server/http4s/NavigateMappingsTest.scala
  project/Settings.scala
Due: Label model PRs, Label server PRs

Implemented WFS state in API.
  modules/server/src/main/scala/navigate/server/tcs/GuideState.scala
  modules/server/src/main/scala/navigate/server/tcs/TcsBaseControllerEpics.scala
  modules/server/src/main/scala/navigate/server/tcs/TcsBaseControllerSim.scala
  modules/server/src/main/scala/navigate/server/tcs/TcsEpicsSystem.scala
  modules/server/src/main/scala/navigate/server/tcs/TcsNorthControllerSim.scala
  modules/server/src/main/scala/navigate/server/tcs/TcsSouthControllerSim.scala
  modules/server/src/test/scala/navigate/server/tcs/TcsBaseControllerEpicsSuite.scala
  modules/web/server/src/main/resources/NewTCC.graphql
  modules/web/server/src/main/scala/navigate/web/server/http4s/encoder/package.scala
  modules/web/server/src/test/scala/navigate/web/server/http4s/NavigateMappingsTest.scala
Due: Label server PRs

Select OIWFS on slew.
  modules/server/src/main/scala/navigate/server/tcs/TcsBaseController.scala
  modules/server/src/main/scala/navigate/server/tcs/TcsBaseControllerEpics.scala
  modules/server/src/main/scala/navigate/server/tcs/TcsChannels.scala
  modules/server/src/main/scala/navigate/server/tcs/TcsEpicsSystem.scala
  modules/server/src/test/scala/navigate/server/tcs/TcsBaseControllerEpicsSuite.scala
  modules/server/src/test/scala/navigate/server/tcs/TestTcsEpicsSystem.scala
  modules/web/server/src/main/resources/NewTCC.graphql
  modules/web/server/src/main/scala/navigate/web/server/http4s/NavigateMappings.scala
Due: Label server PRs

Fixed mapping tests
  modules/web/server/src/test/scala/navigate/web/server/http4s/NavigateMappingsTest.scala
Due: Label server PRs

Applied scalafmt
  modules/server/src/test/scala/navigate/server/tcs/TcsBaseControllerEpicsSuite.scala
Due: Label server PRs

Applied scalafix
  modules/server/src/main/scala/navigate/server/tcs/TcsBaseController.scala
  modules/server/src/main/scala/navigate/server/tcs/TcsBaseControllerEpics.scala
  modules/server/src/test/scala/navigate/server/tcs/TestTcsEpicsSystem.scala
Due: Label server PRs

do not include ui in docker image
  build.sbt
  deploy/navigate-server/src/main/resources/dist/index.html
  modules/web/server/src/main/scala/navigate/web/server/common/StaticRoutes.scala
Due: Label server PRs

allow serving ui from development
  build.sbt
  modules/web/server/src/main/scala/navigate/web/server/common/StaticRoutes.scala
  modules/web/server/src/main/scala/navigate/web/server/common/package.scala
Due: Label server PRs

deploy to dockerhub
  .github/workflows/ci.yml
  .mergify.yml
  README.md
  build.sbt
  deploy/src/main/resources/conf/app.conf
  deploy/src/main/resources/dist/index.html
  deploy/src/main/resources/systemd/navigate-server.env
  deploy/src/main/resources/systemd/navigate-server.service
Due: none

Update GuideConfig
  modules/server/src/main/scala/navigate/server/tcs/TcsBaseControllerEpics.scala
  modules/server/src/test/scala/navigate/server/tcs/TcsBaseControllerEpicsSuite.scala
  modules/web/server/src/main/scala/navigate/web/server/http4s/NavigateMappings.scala
  project/Settings.scala
Due: Label server PRs

enable TLS
  README.md
  deploy/navigate-server/src/main/resources/conf/local/app.conf
  deploy/navigate-server/src/main/resources/conf/local/cacerts.jks.dev
  modules/model/src/main/scala/navigate/model/config/WebServerConfiguration.scala
  modules/web/server/src/main/scala/navigate/web/server/config/package.scala
  modules/web/server/src/main/scala/navigate/web/server/http4s/WebServerLauncher.scala
Due: Label model PRs, Label server PRs

Update workflow
  .github/workflows/ci.yml
Due: none

Automatically set QL/signal processing for OIWFS.
  modules/server/src/main/scala/navigate/server/NavigateEngine.scala
  modules/server/src/main/scala/navigate/server/Systems.scala
  modules/server/src/main/scala/navigate/server/tcs/TcsBaseController.scala
  modules/server/src/main/scala/navigate/server/tcs/TcsBaseControllerEpics.scala
  modules/server/src/main/scala/navigate/server/tcs/TcsBaseControllerSim.scala
  modules/server/src/main/scala/navigate/server/tcs/TcsChannels.scala
  modules/server/src/main/scala/navigate/server/tcs/TcsNorthControllerEpics.scala
  modules/server/src/main/scala/navigate/server/tcs/TcsSouthControllerEpics.scala
  modules/server/src/main/scala/navigate/server/tcs/WfsChannels.scala
  modules/server/src/test/scala/navigate/server/tcs/TcsBaseControllerEpicsSuite.scala
  modules/stateengine/src/main/scala/navigate/stateengine/Handler.scala
Due: Label server PRs, Label stateengine PRs

Configure oiwfs signal processing.
  modules/epics/src/main/scala/navigate/epics/VerifiedEpics.scala
  modules/server/src/main/scala/navigate/server/Systems.scala
  modules/server/src/main/scala/navigate/server/tcs/TcsBaseControllerEpics.scala
  modules/server/src/main/scala/navigate/server/tcs/TcsChannels.scala
  modules/server/src/main/scala/navigate/server/tcs/TcsEpicsSystem.scala
  modules/server/src/main/scala/navigate/server/tcs/TcsNorthControllerEpics.scala
  modules/server/src/main/scala/navigate/server/tcs/TcsSouthControllerEpics.scala
  modules/server/src/main/scala/navigate/server/tcs/WfsChannels.scala
  modules/server/src/main/scala/navigate/server/tcs/WfsEpicsSystem.scala
  modules/server/src/main/scala/navigate/server/tcs/package.scala
  modules/server/src/test/scala/navigate/server/TestEpicsCommands.scala
  modules/server/src/test/scala/navigate/server/tcs/TcsBaseControllerEpicsSuite.scala
  modules/server/src/test/scala/navigate/server/tcs/TestTcsEpicsSystem.scala
  modules/server/src/test/scala/navigate/server/tcs/TestWfsEpicsSystem.scala
Due: Label epics PRs, Label server PRs

Added comments, used lucuma.refined.
  modules/server/src/main/scala/navigate/server/NavigateEngine.scala
  modules/server/src/main/scala/navigate/server/Systems.scala
  modules/server/src/main/scala/navigate/server/tcs/WfsEpicsSystem.scala
  modules/server/src/test/scala/navigate/server/tcs/TcsBaseControllerEpicsSuite.scala
Due: Label server PRs

Updated several libraries.
  .scalafix-common.conf
  .scalafmt-common.conf
  .scalafmt.conf
  modules/epics/src/main/scala/navigate/epics/Channel.scala
  modules/epics/src/main/scala/navigate/epics/RemoteChannel.scala
  modules/epics/src/main/scala/navigate/epics/package.scala
  modules/epics/src/test/scala/navigate/epics/ChannelSpec.scala
  modules/epics/src/test/scala/navigate/epics/EpicsServiceSpec.scala
  modules/epics/src/test/scala/navigate/epics/EpicsSystemSpec.scala
  modules/epics/src/test/scala/navigate/epics/TestEpicsServer.scala
  modules/epics/src/test/scala/navigate/epics/VerifiedEpicsSpec.scala
  modules/server/src/main/scala/navigate/server/NavigateEngine.scala
  modules/server/src/main/scala/navigate/server/tcs/WfsEpicsSystem.scala
  modules/web/server/src/main/scala/navigate/web/server/common/StaticRoutes.scala
  modules/web/server/src/main/scala/navigate/web/server/http4s/NavigateMappings.scala
  modules/web/server/src/main/scala/navigate/web/server/http4s/ProxyBuilder.scala
  modules/web/server/src/test/scala/navigate/web/server/http4s/NavigateMappingsTest.scala
  project/Settings.scala
  project/plugins.sbt
Due: Label epics PRs, Label server PRs

Added WFS image quality values to GraphQl API.
  modules/server/src/main/scala/navigate/server/NavigateEngine.scala
  modules/server/src/main/scala/navigate/server/tcs/GuidersQualityValues.scala
  modules/web/server/src/main/resources/NewTCC.graphql
  modules/web/server/src/main/scala/navigate/web/server/http4s/GraphQlRoutes.scala
  modules/web/server/src/main/scala/navigate/web/server/http4s/NavigateMappings.scala
  modules/web/server/src/main/scala/navigate/web/server/http4s/WebServerLauncher.scala
  modules/web/server/src/main/scala/navigate/web/server/http4s/encoder/package.scala
  modules/web/server/src/test/scala/navigate/web/server/http4s/NavigateMappingsTest.scala
Due: Label server PRs

Implemented reading guide quality values from real systems.
  modules/server/src/main/scala/navigate/server/NavigateEngine.scala
  modules/server/src/main/scala/navigate/server/Systems.scala
  modules/server/src/main/scala/navigate/server/tcs/TcsBaseController.scala
  modules/server/src/main/scala/navigate/server/tcs/TcsBaseControllerEpics.scala
  modules/server/src/main/scala/navigate/server/tcs/TcsBaseControllerSim.scala
  modules/server/src/main/scala/navigate/server/tcs/TcsNorthControllerSim.scala
  modules/server/src/main/scala/navigate/server/tcs/TcsSouthControllerSim.scala
  modules/server/src/main/scala/navigate/server/tcs/WfsChannels.scala
  modules/server/src/main/scala/navigate/server/tcs/WfsEpicsSystem.scala
  modules/server/src/test/scala/navigate/server/tcs/TcsBaseControllerEpicsSuite.scala
  modules/server/src/test/scala/navigate/server/tcs/TestWfsEpicsSystem.scala
  modules/web/server/src/main/resources/app.conf
  modules/web/server/src/test/scala/navigate/web/server/http4s/NavigateMappingsTest.scala
Due: Label server PRs

Changed format to write coordinates in TCS.
  modules/server/src/main/scala/navigate/server/tcs/TcsEpicsSystem.scala
  modules/server/src/test/scala/navigate/server/tcs/TcsBaseControllerEpicsSuite.scala
Due: Label server PRs

Unselect OIWFS before slew
  modules/server/src/main/scala/navigate/server/tcs/TcsBaseControllerEpics.scala
Due: Label server PRs

Run scalafix
  modules/server/src/main/scala/navigate/server/tcs/TcsEpicsSystem.scala
  modules/server/src/test/scala/navigate/server/tcs/TcsBaseControllerEpicsSuite.scala
Due: Label server PRs

Fixed format of arcsec in target coordinates.
  modules/server/src/main/scala/navigate/server/tcs/TcsEpicsSystem.scala
Due: Label server PRs

Fix to OIWFS selection problem.
  modules/server/src/main/scala/navigate/server/tcs/TcsBaseControllerEpics.scala
Due: Label server PRs

Fixed problem with guide gain reset.
  modules/server/src/main/scala/navigate/server/tcs/TcsBaseControllerEpics.scala
  modules/server/src/main/scala/navigate/server/tcs/TcsChannels.scala
  modules/server/src/main/scala/navigate/server/tcs/TcsEpicsSystem.scala
  modules/server/src/main/scala/navigate/server/tcs/WfsChannels.scala
  modules/server/src/main/scala/navigate/server/tcs/WfsEpicsSystem.scala
  modules/server/src/test/scala/navigate/server/tcs/TcsBaseControllerEpicsSuite.scala
  modules/server/src/test/scala/navigate/server/tcs/TestWfsEpicsSystem.scala
  modules/web/server/src/main/resources/app.conf
  modules/web/server/src/test/scala/navigate/web/server/http4s/NavigateMappingsTest.scala
Due: Label server PRs

Added M2 baffles channels.
  modules/server/src/main/scala/navigate/server/tcs/TcsChannels.scala
  modules/server/src/test/scala/navigate/server/tcs/TestTcsEpicsSystem.scala
Due: Label server PRs

Added M2 baffles commands.
  modules/model/src/main/scala/navigate/model/enums/CentralBafflePosition.scala
  modules/model/src/main/scala/navigate/model/enums/DeployableBafflePosition.scala
  modules/server/src/main/scala/navigate/server/tcs/TcsBaseController.scala
  modules/server/src/main/scala/navigate/server/tcs/TcsBaseControllerEpics.scala
  modules/server/src/main/scala/navigate/server/tcs/TcsBaseControllerSim.scala
  modules/server/src/main/scala/navigate/server/tcs/TcsChannels.scala
  modules/server/src/main/scala/navigate/server/tcs/TcsEpicsSystem.scala
  modules/server/src/test/scala/navigate/server/tcs/TcsBaseControllerEpicsSuite.scala
  modules/server/src/test/scala/navigate/server/tcs/TestTcsEpicsSystem.scala
Due: Label model PRs, Label server PRs

Use enum and auto derivate for Enums.
  modules/epics/src/test/scala/navigate/epics/TestEnumerated.scala
  modules/model/src/main/scala/navigate/model/config/ControlStrategy.scala
  modules/model/src/main/scala/navigate/model/config/Mode.scala
  modules/model/src/main/scala/navigate/model/enums/CentralBafflePosition.scala
  modules/model/src/main/scala/navigate/model/enums/DeployableBafflePosition.scala
  modules/model/src/main/scala/navigate/model/enums/DomeMode.scala
  modules/model/src/main/scala/navigate/model/enums/ServerLogLevel.scala
  modules/model/src/main/scala/navigate/model/enums/ShutterMode.scala
  modules/server/src/main/scala/navigate/server/ApplyCommandResult.scala
  modules/server/src/main/scala/navigate/server/acm/CadDirective.scala
  modules/server/src/main/scala/navigate/server/acm/CarState.scala
  modules/server/src/main/scala/navigate/server/epicsdata/BinaryOnOff.scala
  modules/server/src/main/scala/navigate/server/epicsdata/BinaryYesNo.scala
  modules/server/src/main/scala/navigate/server/tcs/FollowStatus.scala
  modules/server/src/main/scala/navigate/server/tcs/ParkStatus.scala
  modules/server/src/main/scala/navigate/server/tcs/RotatorTrackingMode.scala
  modules/web/server/src/main/scala/navigate/web/server/http4s/OperationResult.scala
Due: Label epics PRs, Label model PRs, Label server PRs

Truncate logmessage timestamp value
  modules/web/server/src/main/scala/navigate/web/server/http4s/encoder/package.scala
Due: Label server PRs

Implemented follow and park readings.
  modules/server/src/main/scala/navigate/server/NavigateEngine.scala
  modules/server/src/main/scala/navigate/server/Systems.scala
  modules/server/src/main/scala/navigate/server/tcs/AgsChannels.scala
  modules/server/src/main/scala/navigate/server/tcs/AgsEpicsSystem.scala
  modules/server/src/main/scala/navigate/server/tcs/CrcsChannels.scala
  modules/server/src/main/scala/navigate/server/tcs/CrcsEpicsSystem.scala
  modules/server/src/main/scala/navigate/server/tcs/EpicsSystems.scala
  modules/server/src/main/scala/navigate/server/tcs/McsChannels.scala
  modules/server/src/main/scala/navigate/server/tcs/McsEpicsSystem.scala
  modules/server/src/main/scala/navigate/server/tcs/MechSystemState.scala
  modules/server/src/main/scala/navigate/server/tcs/ScsChannels.scala
  modules/server/src/main/scala/navigate/server/tcs/ScsEpicsSystem.scala
  modules/server/src/main/scala/navigate/server/tcs/TcsBaseController.scala
  modules/server/src/main/scala/navigate/server/tcs/TcsBaseControllerEpics.scala
  modules/server/src/main/scala/navigate/server/tcs/TcsBaseControllerSim.scala
  modules/server/src/main/scala/navigate/server/tcs/TcsNorthControllerEpics.scala
  modules/server/src/main/scala/navigate/server/tcs/TcsNorthControllerSim.scala
  modules/server/src/main/scala/navigate/server/tcs/TcsSouthControllerEpics.scala
  modules/server/src/main/scala/navigate/server/tcs/TcsSouthControllerSim.scala
  modules/server/src/main/scala/navigate/server/tcs/TelescopeState.scala
  modules/server/src/test/scala/navigate/server/tcs/TcsBaseControllerEpicsSuite.scala
  modules/server/src/test/scala/navigate/server/tcs/TestAgsEpicsSystem.scala
  modules/server/src/test/scala/navigate/server/tcs/TestCrcsEpicsSystem.scala
  modules/server/src/test/scala/navigate/server/tcs/TestMcsEpicsSystem.scala
  modules/server/src/test/scala/navigate/server/tcs/TestScsEpicsSystem.scala
  modules/server/src/test/scala/navigate/server/tcs/TestTcsEpicsSystem.scala
  modules/server/src/test/scala/navigate/server/tcs/TestWfsEpicsSystem.scala
  modules/web/server/src/main/resources/NewTCC.graphql
  modules/web/server/src/test/scala/navigate/web/server/http4s/NavigateMappingsTest.scala
Due: Label server PRs

Added telescope state query to API.
  modules/web/server/src/main/resources/NewTCC.graphql
  modules/web/server/src/main/scala/navigate/web/server/http4s/NavigateMappings.scala
  modules/web/server/src/main/scala/navigate/web/server/http4s/encoder/package.scala
  modules/web/server/src/test/scala/navigate/web/server/http4s/NavigateMappingsSuite.scala
Due: Label server PRs

Added telescope state subscription to API.
  modules/web/server/src/main/resources/NewTCC.graphql
  modules/web/server/src/main/scala/navigate/web/server/http4s/GraphQlRoutes.scala
  modules/web/server/src/main/scala/navigate/web/server/http4s/NavigateMappings.scala
  modules/web/server/src/main/scala/navigate/web/server/http4s/WebServerLauncher.scala
  modules/web/server/src/test/scala/navigate/web/server/http4s/NavigateMappingsSuite.scala
Due: Label server PRs

Fixed unimplemented method in NavigateEngine
  modules/server/src/main/scala/navigate/server/NavigateEngine.scala
  modules/server/src/main/scala/navigate/server/tcs/TcsBaseControllerSim.scala
  modules/server/src/main/scala/navigate/server/tcs/TcsNorthControllerSim.scala
  modules/server/src/main/scala/navigate/server/tcs/TcsSouthControllerSim.scala
  modules/web/server/src/test/scala/navigate/web/server/http4s/NavigateMappingsSuite.scala
Due: Label server PRs

Implemented M2 follow command
  modules/server/src/main/scala/navigate/server/NavigateEngine.scala
  modules/server/src/main/scala/navigate/server/tcs/TcsBaseController.scala
  modules/server/src/main/scala/navigate/server/tcs/TcsBaseControllerEpics.scala
  modules/server/src/main/scala/navigate/server/tcs/TcsBaseControllerSim.scala
  modules/server/src/main/scala/navigate/server/tcs/TcsChannels.scala
  modules/server/src/main/scala/navigate/server/tcs/TcsEpicsSystem.scala
  modules/server/src/test/scala/navigate/server/tcs/TcsBaseControllerEpicsSuite.scala
  modules/server/src/test/scala/navigate/server/tcs/TestTcsEpicsSystem.scala
  modules/web/server/src/main/resources/NewTCC.graphql
  modules/web/server/src/main/scala/navigate/web/server/http4s/NavigateMappings.scala
  modules/web/server/src/test/scala/navigate/web/server/http4s/NavigateMappingsSuite.scala
Due: Label server PRs

Changed main channel for OIWFS.
  modules/server/src/main/scala/navigate/server/Systems.scala
Due: Label server PRs

Fixed OIWFS channels for GN.
  modules/server/src/main/scala/navigate/server/Systems.scala
Due: Label server PRs

Fixed system top names.
  modules/server/src/main/scala/navigate/server/Systems.scala
Due: Label server PRs

Implemented AG mechanisms control.
  modules/model/src/main/scala/navigate/model/enums/AoFoldPosition.scala
  modules/model/src/main/scala/navigate/model/enums/HrwfsPickupPosition.scala
  modules/model/src/main/scala/navigate/model/enums/LightSource.scala
  modules/server/src/main/scala/navigate/server/acm/Decoder.scala
  modules/server/src/main/scala/navigate/server/tcs/AgsChannels.scala
  modules/server/src/main/scala/navigate/server/tcs/AgsEpicsSystem.scala
  modules/server/src/main/scala/navigate/server/tcs/InstrumentPorts.scala
  modules/server/src/main/scala/navigate/server/tcs/LightPath.scala
  modules/server/src/main/scala/navigate/server/tcs/ScienceFold.scala
  modules/server/src/main/scala/navigate/server/tcs/ScienceFoldPositionCodex.scala
  modules/server/src/main/scala/navigate/server/tcs/TcsBaseController.scala
  modules/server/src/main/scala/navigate/server/tcs/TcsBaseControllerEpics.scala
  modules/server/src/main/scala/navigate/server/tcs/TcsBaseControllerSim.scala
  modules/server/src/main/scala/navigate/server/tcs/TcsChannels.scala
  modules/server/src/main/scala/navigate/server/tcs/TcsEpicsSystem.scala
  modules/server/src/test/scala/navigate/server/tcs/TestAgsEpicsSystem.scala
  modules/server/src/test/scala/navigate/server/tcs/TestTcsEpicsSystem.scala
Due: Label model PRs, Label server PRs

Path conditions:
  Label epics PRs: any of: ^modules/epics/
  Label model PRs: any of: ^modules/model/
  Label navigate-server PRs: any of: ^app/navigate-server/
  Label schema-util PRs: any of: ^modules/schema-util/
  Label server PRs: any of: ^modules/
  Label stateengine PRs: any of: ^modules/stateengine/
